<section class="about" id="about">
    <div class="container">
        <div class="about__content">
            <div class="about__top-row">
                <h2 class="about__small-heading">
                    About Us
                </h2>
                <h3 class="about__large-heading js-animated-header">
                    <span class="about__heading-indent"></span>
                    We lead real estate projects to success. We support partners with capital and extensive know-how
                    along the entire value chain.
                </h3>
            </div>
            <div class="about__grid">
                <div class="about__small-text js-block-to-reveal">
                    <p>
                        The company has many years of experience in property development and deals exclusively with
                        high-quality, sophisticated and high-yield residential or investment properties.
                    </p>
                </div>
                <div class="about__numbers">
                    <div class="about__numbers-inner">


                        <ul class="about__numbers-list">
                            <li class="about__numbers-list-item">
                                <div class="about__numbers-card">
                                    <div class="about__numbers-card-amount">
                                        32
                                    </div>
                                    <div class="about__numbers-card-text">
                                        one year of experience in development.
                                    </div>
                                </div>
                            </li>
                            <li class="about__numbers-list-item">
                                <div class="about__numbers-card">
                                    <div class="about__numbers-card-amount">
                                        50+
                                    </div>
                                    <div class="about__numbers-card-text">
                                        successfully completed projects.
                                    </div>
                                </div>
                            </li>
                            <li class="about__numbers-list-item">
                                <div class="about__numbers-card">
                                    <div class="about__numbers-card-amount">
                                        420К+ m²
                                    </div>
                                    <div class="about__numbers-card-text">
                                        designed and built living space in 2 countries.
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="dot-btn about__numbers-link">
                            <div class="dot-btn__text">
                                About us
                            </div>
                            <div class="dot-btn__dot">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="about__film">
                    <a href="#video-modal" class="about__film-video-card js-remove-overlay js-video-card js-open-modal">
                        <div class="about__film-video-container">
                            <img src="img/film.jpg" alt="" class="about__film-video-preview-image">
                        </div>

                        <div class="about__film-video-row">
                            <div class="about__film-video-play">
                                <div class="about__film-video-play-duration">
                                    <span class="about__film-video-play-duration-digits">
                                        2:32
                                    </span>

                                </div>
                                <div class="about__film-video-play-text">
                                    Play Film
                                </div>
                            </div>
                            <div class="about__film-video-description">
                                <p>
                                    “An integrated approach is the basis of our work. we create and manage high-class
                                    commercial and residential facilities.“
                                </p>
                            </div>
                        </div>
                        <div class="about__film-overlay js-overlay"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>