<section class="about-project" id="about-project" data-biege-header-start="">
    <div class="container">
        <div class="about-project__top-row">
            <h2 class="about-project__small-heading">
                About Project
            </h2>

            <div class="about-project__text js-animated-header">
                In Rheinfelden, der zweitgrößten Stadt im Landkreis Lörrach direkt an der Schweizer Grenze, entstehen
                zwei moderne Wohnanlagen mit insgesamt 24 Wohnungen und Tiefgarageneinstellplätzen. Alle Wohnungen
                verfügen über die neusten Bautechnologien und erfüllen die KfW 55 Energieeffizienznorm.
            </div>
        </div>
        <div class="about-project__bottom-row">
            <div class="about-project__info-item">
                <h3 class="about-project__info-item-title">
                    Adress
                </h3>
                <div class="about-project__info-item-text">
                    Weingartenstraße 7a-13, Dortmund
                </div>
            </div>
            <div class="about-project__info-item">
                <h3 class="about-project__info-item-title">
                    Project duration
                </h3>
                <div class="about-project__info-item-text">
                    24 mounth
                </div>
            </div>
            <div class="about-project__info-item">
                <h3 class="about-project__info-item-title">
                    Site Area
                </h3>
                <div class="about-project__info-item-text">
                    1440 м²
                </div>
            </div>
            <div class="about-project__info-item">
                <h3 class="about-project__info-item-title">
                    Total floor area
                </h3>
                <div class="about-project__info-item-text">
                    1264 м²
                </div>
            </div>
            <div class="about-project__info-item">
                <h3 class="about-project__info-item-title">
                    parking spaces
                </h3>
                <div class="about-project__info-item-text">
                    16
                </div>
            </div>
        </div>
        <div class="about-project__btn-wrapper">
            <a href="projects.html" class="dot-btn dot-btn--dark-hover about-project__btn">
                <div class="dot-btn__text">
                    Buy apartments
                </div>
                <div class="dot-btn__dot dot-btn__dot--icon">
                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                        <use xlink:href="#long-diagonal-arrow"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>


</section>