<div class="page-header page-header--positioned-top page-header--biege">
    <div class="container">


        <div class="page-header__row">
            <a href="/" class="page-header__logo">
                <img src="img/logo-biege.svg" alt="" class="page-header__logo-image" width="56">
            </a>
            <div class="page-header__nav-wrapper">
                <nav class="page-header__nav">
                    <ul>
                        <li>
                            <a href="#">
                                <span>
                                    About
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    Investors
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    News
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    Contact
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="page-header__projects">
                <h3 class="page-header__projects-heading">
                    <a href="#" class="page-header__projects-link disabled">
                        <div class="page-header__projects-link-inner">
                            <span>
                                Projects
                            </span>
                        </div>
                        <div class="page-header__projects-link-count">
                            ²³
                        </div>
                    </a>
                </h3>

            </div>
            <div class="page-header__info">
                <div class="page-header__languages">
                    <a href="#" class="page-header__languages-link active">
                        <span>
                            En
                        </span>
                    </a>
                    <a href="#" class="page-header__languages-link">
                        <span>
                            Ge
                        </span>
                    </a>
                </div>
                <a href="tel:+4923179786153" class="page-header__phone">+49 231 797 861 53</a>
            </div>
        </div>
    </div>
</div>