<section class="careers">
    <div class="container">
        <div class="careers__row">
            <h2 class="careers__small-heading">
                Careers
            </h2>
            <h3 class="careers__large-heading js-animated-header">
                <span class="careers__large-heading-indent"></span>
                Doing great work is at the heart of what we do. With each project, we raise the bar a little higher,
                creating new challenges to stay on top of our craft. Contact us today!
            </h3>
        </div>
    </div>
</section>