<section class="ceo" data-biege-header-end="">
    <div class="container">
        <div class="ceo__grid">
            <div class="ceo__inner">
                <h2 class="large-heading ceo__heading js-animated-header">
                    Alexander Goldin
                </h2>
                <div class="ceo__heading-text js-block-to-reveal">
                    The founder and owner
                </div>
                <div class="ceo__description js-block-to-reveal">
                    <p>
                        Alexander Goldin has 25 years of experience in Russia and Germany as the Top Manager and
                        managing director of his company in the fields of Urban Development, medicine and Information
                        Technology.
                    </p>
                    <p>
                        Alexander was born in Russia, studied at the Nizhny Novgorod State Technical University and
                        later moved to Germany, where he received a diploma from the Fern University in Hamburg, the
                        subject of Economics.
                    </p>
                </div>
                <img src="img/ceo.jpg" alt="" class="ceo__photo">
            </div>
        </div>
    </div>
</section>