<footer class="home-footer" data-biege-header-end="">
    <div class="home-footer__bg">
        <video class="lazyload" muted="" data-autoplay="" loop playsinline preload="none">
            <source src="assets/video/home-footer-video.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="container">
        <div class="home-footer__grid">
            <div class="home-footer__text">
                <p>
                    We invite to cooperation owners of land plots! Consider offers to buy or joint development of plots
                    at
                    any stage of authorization documentation.
                </p>
            </div>
            <div class="home-footer__email">
                <div class="home-footer__email-text">
                    Please write to e-mail:
                </div>
                <a href="mailto:info@gld-gmbh.com" class="home-footer__email-link"><span>info@gld-gmbh.com</span></a>
            </div>
            <div class="home-footer__address">
                <div class="home-footer__year">
                    © 2021
                </div>
                <div class="home-footer__address-text">
                    <p>
                        Weingartenstr. 13, <br> 44263, Dortmund, Germany.
                    </p>
                </div>
            </div>
            <div class="home-footer__contacts">
                <a href="mailto:info@gld-gmbh.de" class="home-footer__contacts-mail-link"><span>info@gld-gmbh.de</span></a>
                <a href="tel:+49 231 797-861-53" class="home-footer__contacts-phone-link">+49 231 797-861-53</a>
            </div>
            <a href="#" class="home-footer__made-by">
                <div class="home-footer__made-by-text">
                    Creating a website
                </div>
                <img src="img/mw-logo.svg" alt="" class="home-footer__made-by-logo">
            </a>
        </div>

    </div>
</footer>