<section class="home-intro">
    <div class="home-intro__bg">
        <div class="home-intro__bg-inner">
            <div class="home-intro__bg-parallax-wrapper">


                <img src="img/home-intro/bg.jpg" alt="" class="home-intro__bg-image">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="home-intro__content">
            <h1 class="large-heading home-intro__main-heading">
                Planning and construction of residential complexes in Germany since 2014.
            </h1>


            <div class="home-intro__page-header-wrapper">
                <div class="page-header">
                    <div class="page-header__row">
                        <a href="/" class="page-header__logo">

                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-diagonal-arrow page-header__logo-image">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                        <div class="page-header__nav-wrapper">
                            <button class="page-header__burger-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                                    <use xlink:href="#burger"></use>
                                </svg>
                            </button>
                            <nav class="page-header__nav">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span>
                                                About
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>
                                                Investors
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>
                                                News
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>
                                                Contact
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="page-header__projects">
                            <h3 class="page-header__projects-heading">
                                <a href="#" class="page-header__projects-link">
                                    <div class="page-header__projects-link-inner">
                                        <span>
                                            Projects
                                        </span>
                                    </div>
                                    <div class="page-header__projects-link-count">
                                        ²³
                                    </div>
                                </a>
                            </h3>
                            <div class="page-header__projects-slider js-header-projects-slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="#" class="page-header__projects-slider-card">
                                                <div class="page-header__projects-slider-card-image-container">
                                                    <img data-src="img/header-projects-slider/1.jpg" alt=""
                                                        class="page-header__projects-slider-card-image lazyload">
                                                    <div class="page-header__projects-slider-card-overlay">

                                                    </div>
                                                </div>
                                                <div class="page-header__projects-slider-card-row">
                                                    <h4 class="page-header__projects-slider-card-title">
                                                        <span>
                                                            DER STADT LEIPZIG
                                                        </span>
                                                    </h4>
                                                    <div class="page-header__projects-slider-card-number">
                                                        01
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="page-header__projects-slider-card">
                                                <div class="page-header__projects-slider-card-image-container">
                                                    <img data-src="img/projects/1.jpg" alt=""
                                                        class="page-header__projects-slider-card-image lazyload">

                                                    <div class="page-header__projects-slider-card-overlay">

                                                    </div>
                                                </div>
                                                <div class="page-header__projects-slider-card-row">
                                                    <h4 class="page-header__projects-slider-card-title">
                                                        <span>
                                                            DER STADT LEIPZIG
                                                        </span>
                                                    </h4>
                                                    <div class="page-header__projects-slider-card-number">
                                                        02
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="page-header__projects-slider-card">
                                                <div class="page-header__projects-slider-card-image-container">
                                                    <img data-src="img/header-projects-slider/1.jpg" alt=""
                                                        class="page-header__projects-slider-card-image lazyload">
                                                    <div class="page-header__projects-slider-card-overlay">

                                                    </div>
                                                </div>
                                                <div class="page-header__projects-slider-card-row">
                                                    <h4 class="page-header__projects-slider-card-title">
                                                        <span>
                                                            DER STADT LEIPZIG
                                                        </span>
                                                    </h4>
                                                    <div class="page-header__projects-slider-card-number">
                                                        03
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-header__projects-slider-animation-container">
                                    <div class="page-header__projects-slider-animation-line">
                                        <div class="page-header__projects-slider-animation-line-moving-core"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="page-header__info">
                            <div class="page-header__languages">
                                <a href="#" class="page-header__languages-link active">
                                    <span>
                                        En
                                    </span>
                                </a>
                                <a href="#" class="page-header__languages-link">
                                    <span>
                                        Ge
                                    </span>
                                </a>
                            </div>
                            <a href="tel:+4923179786153" class="page-header__phone">+49 231 797 861 53</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-intro__bottom-row">
                <div class="home-intro__cookies">
                    <div class="home-intro__cookies-text">
                        <p>
                            By using our site, you agree to our <a href="#">
                                <span>
                                    use of cookies
                                </span>
                            </a>
                        </p>
                    </div>
                    <button class="home-intro__cookies-close">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="home-intro__scroll-down">
                    <a href="#about" class="home-intro__scroll-down-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>