<section class="latest-news">
    <div class="container">
        <h2 class="latest-news__heading">
            Latest News
        </h2>
        <div class="latest-news__slider js-latest-news-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="latest-news__slider-card">
                            <div class="latest-news__slider-card-content">


                                <div class="latest-news__slider-card-info">
                                    12 sep · News
                                </div>
                                <h3 class="latest-news__slider-card-title">
                                    <span>
                                        GLD GmbH is in the process of buying a castle for renovation into housing.
                                    </span>
                                </h3>
                                <div class="latest-news__slider-card-row">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="latest-news__slider-card-description">
                                        <p>
                                            The first successful negotiations took place.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-news__slider-card-image-container">
                                <img src="img/latest-news/1.jpg" alt="" class="latest-news__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="latest-news__slider-card">
                            <div class="latest-news__slider-card-content">


                                <div class="latest-news__slider-card-info">
                                    14 sep · press release
                                </div>
                                <h3 class="latest-news__slider-card-title">
                                    <span>
                                        Developers' interest in residential projects has increased in Berlin.
                                    </span>
                                </h3>
                                <div class="latest-news__slider-card-row">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="latest-news__slider-card-description">
                                        <p>
                                            We want to build big facilities.But we don't have any. Greater Leipzig - no
                                            architecture there yet. We are in the process of buying a castle for
                                            redevelopment into housing, but there is no architecture there yet either.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-news__slider-card-image-container">
                                <img src="img/latest-news/2.jpg" alt="" class="latest-news__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="latest-news__slider-card">
                            <div class="latest-news__slider-card-content">


                                <div class="latest-news__slider-card-info">
                                    22 sep · News
                                </div>
                                <h3 class="latest-news__slider-card-title">
                                    <span>
                                        Pedestrian infrastructure is real magic.
                                    </span>
                                </h3>
                                <div class="latest-news__slider-card-row">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="latest-news__slider-card-description">
                                        <p>
                                            The first successful negotiations took place.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-news__slider-card-image-container">
                                <img src="img/latest-news/3.jpg" alt="" class="latest-news__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="latest-news__slider-card">
                            <div class="latest-news__slider-card-content">


                                <div class="latest-news__slider-card-info">
                                    12 sep · News
                                </div>
                                <h3 class="latest-news__slider-card-title">
                                    <span>
                                        GLD GmbH is in the process of buying a castle for renovation into housing.
                                    </span>
                                </h3>
                                <div class="latest-news__slider-card-row">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="latest-news__slider-card-description">
                                        <p>
                                            The first successful negotiations took place.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-news__slider-card-image-container">
                                <img src="img/latest-news/1.jpg" alt="" class="latest-news__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="latest-news__slider-card">
                            <div class="latest-news__slider-card-content">


                                <div class="latest-news__slider-card-info">
                                    14 sep · press release
                                </div>
                                <h3 class="latest-news__slider-card-title">
                                    <span>
                                        Developers' interest in residential projects has increased in Berlin.
                                    </span>
                                </h3>
                                <div class="latest-news__slider-card-row">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="latest-news__slider-card-description">
                                        <p>
                                            We want to build big facilities.But we don't have any. Greater Leipzig - no
                                            architecture there yet. We are in the process of buying a castle for
                                            redevelopment into housing, but there is no architecture there yet either.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-news__slider-card-image-container">
                                <img src="img/latest-news/2.jpg" alt="" class="latest-news__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="latest-news__slider-card">
                            <div class="latest-news__slider-card-content">


                                <div class="latest-news__slider-card-info">
                                    22 sep · News
                                </div>
                                <h3 class="latest-news__slider-card-title">
                                    <span>
                                        Pedestrian infrastructure is real magic.
                                    </span>
                                </h3>
                                <div class="latest-news__slider-card-row">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="latest-news__slider-card-description">
                                        <p>
                                            The first successful negotiations took place.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-news__slider-card-image-container">
                                <img src="img/latest-news/3.jpg" alt="" class="latest-news__slider-card-image">
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="latest-news__slider-controls">
                <a href="#" class="dot-btn latest-news__all-news-link">
                    <div class="dot-btn__text">
                        Newsroom
                    </div>
                    <div class="dot-btn__dot">

                    </div>
                </a>
                <div class="latest-news__slider-arrows">
                    <button class="latest-news__slider-arrow latest-news__slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="latest-news__slider-arrow latest-news__slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>