<section class="map">
    <div class="map__main-grid">
        <div class="map__container">
            <div class="map__container-inner">


                <img src="img/map.jpg" alt="" class="map__image">
                <div class="map__city" style="left: 25.3%; top: 38.5%;">
                    <div class="map__city-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow-fat">
                            <use xlink:href="#diagonal-arrow-fat"></use>
                        </svg>
                    </div>
                    <div class="map__city-content">
                        <div class="map__city-name">
                            Trier
                        </div>
                        <ul class="map__city-list">
                            <li class="map__city-list-item">
                                <a href="#" class="map__city-link">
                                    <span class="map__city-link-number">
                                        03
                                    </span>
                                    <span class="map__city-link-title">
                                        Gorkystr 9
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="map__city" style="left: 18%; top: 69%;">
                    <div class="map__city-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow-fat">
                            <use xlink:href="#diagonal-arrow-fat"></use>
                        </svg>
                    </div>
                    <div class="map__city-content">
                        <div class="map__city-name">
                            Munich
                        </div>
                        <ul class="map__city-list">
                            <li class="map__city-list-item">
                                <a href="#" class="map__city-link">
                                    <span class="map__city-link-number">
                                        06
                                    </span>
                                    <span class="map__city-link-title">
                                        Gorkystr 9
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="map__city" style="left: 54%; top: 70%;">
                    <div class="map__city-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow-fat">
                            <use xlink:href="#diagonal-arrow-fat"></use>
                        </svg>
                    </div>
                    <div class="map__city-content">
                        <div class="map__city-name">
                            Gladbach
                        </div>
                        <ul class="map__city-list">
                            <li class="map__city-list-item">
                                <a href="#" class="map__city-link">
                                    <span class="map__city-link-number">
                                        04
                                    </span>
                                    <span class="map__city-link-title">
                                        Gorkystr 9
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="map__city" style="left: 67%; top: 42%;">
                    <div class="map__city-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow-fat">
                            <use xlink:href="#diagonal-arrow-fat"></use>
                        </svg>
                    </div>
                    <div class="map__city-content">
                        <div class="map__city-name">
                            LEIPZIG
                        </div>
                        <ul class="map__city-list">
                            <li class="map__city-list-item">
                                <a href="#" class="map__city-link">
                                    <span class="map__city-link-number">
                                        01
                                    </span>
                                    <span class="map__city-link-title">
                                        Gorkystr 9
                                    </span>
                                </a>
                            </li>
                            <li class="map__city-list-item">
                                <a href="#" class="map__city-link">
                                    <span class="map__city-link-number">
                                        05
                                    </span>
                                    <span class="map__city-link-title">
                                        Avelsbacher Straße 1-5
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="map__container-content">
            <div class="container">
                <div class="map__grid">
                    <h3 class="map__small-title"> Map Of Projects</h3>
                    <h2 class="map__heading">
                        We always succeed in acquiring unique properties.
                    </h2>

                    <a href="#" class="dot-btn dot-btn--brown map__link">
                        <div class="dot-btn__text">
                            Interactive map
                        </div>
                        <div class="dot-btn__dot">

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>