<section class="news-single">
    <div class="container">
        <div class="news-single__top-row">
            <a href="#" class="news-single__back">
                <span class="news-single__back-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </span>
                <span class="news-single__back-text">
                    All News
                </span>
            </a>
            <div class="news-single__heading-block">
                <h1 class="news-single__main-title js-animated-header">
                    GLD GmbH is in the process of buying a castle for renovation into housing.
                </h1>
                <div class="news-single__date">
                    Date — <br> 22 sep 2021
                </div>
                <div class="news-single__category">
                    News
                </div>
            </div>
        </div>
        <div class="news-single__content">
            <div class="news-single__content-inner">
                <img src="img/news-single.jpg" alt="" class="news-single__content-image">
                <div class="news-single__content-icon">
                    <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
                <div class="news-single__content-text js-block-to-reveal">
                    <p>
                        We want to build big facilities.But we don't have any. Greater Leipzig - no architecture there
                        yet. We are in the process of buying a castle for redevelopment into housing, but there is no
                        architecture there yet either.
                    </p>
                    <p>
                        In Rheinfelden, der zweitgrößten Stadt im Landkreis Lörrach direkt an der Schweizer Grenze,
                        entstehen zwei moderne Wohnanlagen mit insgesamt 24 Wohnungen und Tiefgarageneinstellplätzen.
                        Alle Wohnungen verfügen über die neusten Bautechnologien und erfüllen die KfW 55
                        Energieeffizienznorm.
                    </p>
                </div>
            </div>
        </div>
        <ul class="news-single__other-news-list">
            <li class="news-single__other-news-list-item">
                <a href="#" class="latest-news__slider-card">
                    <div class="latest-news__slider-card-content">


                        <div class="latest-news__slider-card-info">
                            12 sep · News
                        </div>
                        <h3 class="latest-news__slider-card-title">
                            <span>
                                GLD GmbH is in the process of buying a castle for renovation into housing.
                            </span>
                        </h3>
                        <div class="latest-news__slider-card-row">
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <div class="latest-news__slider-card-description">
                                <p>
                                    The first successful negotiations took place.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="latest-news__slider-card-image-container">
                        <img src="img/latest-news/1.jpg" alt="" class="latest-news__slider-card-image">
                    </div>
                </a>
            </li>
            <li class="news-single__other-news-list-item">
                <a href="#" class="latest-news__slider-card">
                    <div class="latest-news__slider-card-content">


                        <div class="latest-news__slider-card-info">
                            12 sep · News
                        </div>
                        <h3 class="latest-news__slider-card-title">
                            <span>
                                Pedestrian infrastructure is real magic.
                            </span>
                        </h3>
                        <div class="latest-news__slider-card-row">
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <div class="latest-news__slider-card-description">
                                <p>
                                    We want to build big facilities.But we don't have any. Greater Leipzig - no
                                    architecture there yet. We are in the process of buying a castle for redevelopment
                                    into housing, but there is no architecture there yet either.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="latest-news__slider-card-image-container">
                        <img src="img/latest-news/2.jpg" alt="" class="latest-news__slider-card-image">
                    </div>
                </a>
            </li>
            <li class="news-single__other-news-list-item">
                <a href="#" class="latest-news__slider-card">
                    <div class="latest-news__slider-card-content">


                        <div class="latest-news__slider-card-info">
                            14 sep · press release
                        </div>
                        <h3 class="latest-news__slider-card-title">
                            <span>
                                Developers' interest in residential projects has increased in Berlin.
                            </span>
                        </h3>
                        <div class="latest-news__slider-card-row">
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                            <div class="latest-news__slider-card-description">
                                <p>
                                    The first successful negotiations took place.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="latest-news__slider-card-image-container">
                        <img src="img/latest-news/4.jpg" alt="" class="latest-news__slider-card-image">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>