<section class="news">
    <div class="container">
        <div class="news__top-row">
            <div class="news__filters">
                <h3 class="news__filters-heading">
                    Date
                </h3>
                <div class="news__filters-categories">
                    <a href="#" class="news__filters-categories-link active">
                        All <span class="news__filters-categories-link-count">
                            23
                        </span>
                    </a>
                    <a href="#" class="news__filters-categories-link">
                        Done <span class="news__filters-categories-link-count">
                            18
                        </span>
                    </a>
                    <a href="#" class="news__filters-categories-link">
                        Planning <span class="news__filters-categories-link-count">
                            5
                        </span>
                    </a>
                </div>
            </div>
            <h1 class="news__large-heading">
                News <span class="news__large-heading-count">69</span>
            </h1>

        </div>


    </div>
    <div class="news__image-block">
        <div class="news__image-block-bg">
            <div class="news__image-block-bg-image-wrapper">
                <img src="img/news.jpg" alt="" class="news__image-block-bg-image">
            </div>
        </div>
        <div class="container">
            <div class="news__image-block-grid">
                <a href="#" class="news__image-block-card">
                    <div class="news__image-block-card-info">
                        14 sep · press release
                    </div>
                    <h3 class="news__image-block-card-title">
                        <span>
                            Developers' interest in residential projects has increased in Berlin.
                        </span>
                    </h3>
                    <div class="news__image-block-card-row">
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                        <div class="news__image-block-card-description">
                            <p>
                                We want to build big facilities.But we don't have any. Greater Leipzig - no architecture
                                there yet. We are in the process of buying a castle for redevelopment into housing, but
                                there is no architecture there yet either.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="news__all-articles">
        <div class="container">


            <div class="news__all-articles-grid">


                <div class="news__all-articles-content">


                    <h3 class="news__all-articles-heading">
                        All articles
                        <span class="news__all-articles-count">
                            84
                        </span>
                    </h3>
                    <ul class="news__all-articles-list">
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">


                                    <div class="latest-news__slider-card-info">
                                        14 sep · press release
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Developers' interest in residential projects has increased in Berlin.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                We want to build big facilities.But we don't have any. Greater Leipzig -
                                                no
                                                architecture there yet. We are in the process of buying a castle for
                                                redevelopment into housing, but there is no architecture there yet
                                                either.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/1.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">
                                    <div class="latest-news__slider-card-info">
                                        22 sep · News
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Pedestrian infrastructure is real magic.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                The first successful negotiations took place.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/2.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">


                                    <div class="latest-news__slider-card-info">
                                        14 sep · press release
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Developers' interest in residential projects has increased in Berlin.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                We want to build big facilities.But we don't have any. Greater Leipzig -
                                                no
                                                architecture there yet. We are in the process of buying a castle for
                                                redevelopment into housing, but there is no architecture there yet
                                                either.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/1.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">
                                    <div class="latest-news__slider-card-info">
                                        22 sep · News
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Pedestrian infrastructure is real magic.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                The first successful negotiations took place.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/2.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">


                                    <div class="latest-news__slider-card-info">
                                        14 sep · press release
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Developers' interest in residential projects has increased in Berlin.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                We want to build big facilities.But we don't have any. Greater Leipzig -
                                                no
                                                architecture there yet. We are in the process of buying a castle for
                                                redevelopment into housing, but there is no architecture there yet
                                                either.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/1.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">
                                    <div class="latest-news__slider-card-info">
                                        22 sep · News
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Pedestrian infrastructure is real magic.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                The first successful negotiations took place.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/2.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">


                                    <div class="latest-news__slider-card-info">
                                        14 sep · press release
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Developers' interest in residential projects has increased in Berlin.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                We want to build big facilities.But we don't have any. Greater Leipzig -
                                                no
                                                architecture there yet. We are in the process of buying a castle for
                                                redevelopment into housing, but there is no architecture there yet
                                                either.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/1.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                        <li class="news__all-articles-list-item">
                            <a href="#" class="latest-news__slider-card">
                                <div class="latest-news__slider-card-content">
                                    <div class="latest-news__slider-card-info">
                                        22 sep · News
                                    </div>
                                    <h3 class="latest-news__slider-card-title">
                                        <span>
                                            Pedestrian infrastructure is real magic.
                                        </span>
                                    </h3>
                                    <div class="latest-news__slider-card-row">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                        <div class="latest-news__slider-card-description">
                                            <p>
                                                The first successful negotiations took place.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="latest-news__slider-card-image-container">
                                    <img src="img/all-articles/2.jpg" alt="" class="latest-news__slider-card-image">
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="news__pagination">
                        <ul class="news__pagination-list">
                            <li class="news__pagination-list-item">
                                <a href="#" class="news__pagination-link current">
                                    1
                                </a>
                            </li>
                            <li class="news__pagination-list-item">
                                <a href="#" class="news__pagination-link">
                                    2
                                </a>
                            </li>
                            <li class="news__pagination-list-item">
                                <a href="#" class="news__pagination-link">
                                    ...
                                </a>
                            </li>
                            <li class="news__pagination-list-item">
                                <a href="#" class="news__pagination-link">
                                    9
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="news__pagination-next">
                            <span class="news__pagination-next-text">
                                Next
                            </span>
                            <span class="news__pagination-next-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </span>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>