<section class="partners" data-biege-header-start-2="">
    <div class="container">
        <div class="partners__top-row">
            <h2 class="partners__small-heading">
                Partners
            </h2>
            <h3 class="large-heading partners__large-heading">
                We work with the best partners
            </h3>
        </div>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="img/partner.jpg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="img/partner.jpg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="img/partner.jpg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="img/partner.jpg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="img/partner.jpg" alt="" class="partners__card-icon">
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img src="img/partner.jpg" alt="" class="partners__card-icon">
                </a>
            </li>
        </ul>
        <div class="partners__bottom-row">
            <a href="#" class="dot-btn dot-btn--white dot-btn--dark-hover partners__link">
                <div class="dot-btn__text">
                   Become a Partner
                </div>
                <div class="dot-btn__dot dot-btn__dot--icon">
                    <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                        <use xlink:href="#plus"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>