<section class="project-gallery">
    <div class="project-gallery__selected-image js-selected-image">
        <div class="project-gallery__selected-image-parallax-wrapper">
            <img src="img/project-selected-photo.jpg" alt="" class="project-gallery__selected-image-photo">
        </div>
    </div>
    <div class="container">
        <div class="project-gallery__row">
            <div class="project-gallery__first-letter">
                A
            </div>
            <div class="project-gallery__words js-project-sliding-words">
                <div class="project-gallery__words-top">
                    wonderful
                </div>
                <div class="project-gallery__words-bottom">
                    residence.
                </div>
            </div>
        </div>
        <div class="project-gallery__grid">
            <div class="project-gallery__card">
                <div class="project-gallery__card-image-container">
                    <div class="project-gallery__card-parallax-wrapper">
                        <img src="img/project-gallery/1.jpg" alt="" class="project-gallery__card-parallax-image">
                    </div>
                </div>
            </div>
            <div class="project-gallery__card">
                <div class="project-gallery__card-image-container">
                    <div class="project-gallery__card-parallax-wrapper">
                        <img src="img/project-gallery/2.jpg" alt="" class="project-gallery__card-parallax-image">
                    </div>
                </div>
            </div>
            <div class="project-gallery__card">
                <div class="project-gallery__card-image-container">
                    <div class="project-gallery__card-parallax-wrapper">
                        <img src="img/project-gallery/3.jpg" alt="" class="project-gallery__card-parallax-image">
                    </div>
                </div>
            </div>
            <div class="project-gallery__card">
                <div class="project-gallery__card-image-container">
                    <div class="project-gallery__card-parallax-wrapper">
                        <img src="img/project-gallery/4.jpg" alt="" class="project-gallery__card-parallax-image">
                    </div>
                </div>
            </div>
            <div class="project-gallery__card">
                <div class="project-gallery__card-image-container">
                    <div class="project-gallery__card-parallax-wrapper">
                        <img src="img/project-gallery/5.jpg" alt="" class="project-gallery__card-parallax-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>