<section class="project-location">
    <div class="container">
        <div class="project-location__top-row">
            <h2 class="project-location__heading">
                Location
            </h2>
            <h3 class="large-heading project-location__large-heading js-animated-header">
                EASY ACCESSIBILITY, MANY HISTORICAL SITES AND PLENTY OF GREENERY IN THE VICINITY.
            </h3>
        </div>
        <div class="project-location__proximities">


            <div class="project-location__proximity">
                <div class="project-location__proximity-illustration js-project-proximity">
                    <div class="project-location__proximity-illustration-scale">
                        <div class="project-location__proximity-illustration-scale-human">
                            <svg width="14" height="14" aria-hidden="true" class="icon-person">
                                <use xlink:href="#person"></use>
                            </svg>
                        </div>
                        <div class="project-location__proximity-illustration-scale-rule">

                        </div>
                        <div class="project-location__proximity-illustration-scale-point">
                            <svg width="14" height="14" aria-hidden="true" class="icon-tree">
                                <use xlink:href="#tree"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="project-location__proximity-time">
                        <div class="project-location__proximity-time-amount">
                            5 min
                        </div>
                        <div class="project-location__proximity-time-text">
                            walk to the nearest park
                        </div>
                    </div>
                </div>
                <div class="project-location__proximity-image-container">
                    <div class="project-location__proximity-image-parallax-wrapper">
                        <img src="img/on-foot.jpg" alt="" class="project-location__proximity-image">
                    </div>
                </div>
            </div>
            <div class="project-location__proximity">
                <div class="project-location__proximity-illustration js-project-proximity">
                    <div class="project-location__proximity-illustration-scale">
                        <div class="project-location__proximity-illustration-scale-human">
                            <svg width="14" height="14" aria-hidden="true" class="icon-car">
                                <use xlink:href="#car"></use>
                            </svg>
                        </div>
                        <div class="project-location__proximity-illustration-scale-rule">

                        </div>
                        <div class="project-location__proximity-illustration-scale-point">
                            <svg width="14" height="14" aria-hidden="true" class="icon-church">
                                <use xlink:href="#church"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="project-location__proximity-time">
                        <div class="project-location__proximity-time-amount">
                            7 min
                        </div>
                        <div class="project-location__proximity-time-text">
                            by car to the city centre
                        </div>
                    </div>
                </div>
                <div class="project-location__proximity-image-container">
                    <div class="project-location__proximity-image-parallax-wrapper">
                        <img src="img/by-car.jpg" alt="" class="project-location__proximity-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>