<footer class="projects-footer">
    <div class="container">
        <div class="projects-footer__grid js-mobile-fullheight-block">
            <h2 class="projects-footer__small-title">
                Compitents
            </h2>
            <h3 class="projects-footer__large-title js-animated-header">
                GLD-GmbH is a project developer working throughout Germany.
            </h3>
            <div class="projects-footer__text js-block-to-reveal">
                <p>
                    The company has many years of experience in property development and deals exclusively with
                    high-quality, sophisticated and high-yield residential or investment properties.
                </p>
            </div>
            <div class="projects-footer__features js-mobile-features js-block-to-reveal">
                <ul class="projects-footer__features-list">
                    <li class="projects-footer__features-list-item">
                        <div class="projects-footer__features-card">
                            <div class="projects-footer__features-card-top">
                                <h4 class="projects-footer__features-card-title">
                                    Planning
                                </h4>
                                <div class="projects-footer__features-card-top-text">
                                    <p>
                                        Our specialisation in residential real estate makes it possible to take
                                        long-term residential trends into account as early as the property selection
                                        stage.
                                    </p>
                                </div>
                            </div>
                            <div class="projects-footer__features-card-bottom">
                                <div class="projects-footer__features-card-amount">
                                    32+
                                </div>
                                <div class="projects-footer__features-card-bottom-text">
                                    years in real estate.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="projects-footer__features-list-item">
                        <div class="projects-footer__features-card">
                            <div class="projects-footer__features-card-top">
                                <h4 class="projects-footer__features-card-title">
                                    Building
                                </h4>
                                <div class="projects-footer__features-card-top-text">
                                    <p>
                                        Our experienced team accompanies you through every step of the construction
                                        phase.
                                    </p>
                                </div>
                            </div>
                            <div class="projects-footer__features-card-bottom">
                                <div class="projects-footer__features-card-amount">
                                    50+
                                </div>
                                <div class="projects-footer__features-card-bottom-text">
                                    projects successfully completed.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="projects-footer__features-list-item">
                        <div class="projects-footer__features-card">
                            <div class="projects-footer__features-card-top">
                                <h4 class="projects-footer__features-card-title">
                                    Design
                                </h4>
                                <div class="projects-footer__features-card-top-text">
                                    <p>
                                        Individual planning and design by our specialist.
                                    </p>
                                </div>
                            </div>
                            <div class="projects-footer__features-card-bottom">
                                <div class="projects-footer__features-card-amount">
                                    420K m²
                                </div>
                                <div class="projects-footer__features-card-bottom-text">
                                    of projected and built residential space in 2 countries.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


          
        
            <div class="projects-footer__address">
                <div class="projects-footer__year">
                    © 2021
                </div>
                <div class="projects-footer__address-text">
                    <p>
                        Weingartenstr. 13, <br> 44263, Dortmund, Germany.
                    </p>
                </div>
            </div>
            <div class="projects-footer__contacts">
                <a href="mailto:info@gld-gmbh.de"
                    class="projects-footer__contacts-mail-link"><span>info@gld-gmbh.de</span></a>
                <a href="tel:+49 231 797-861-53" class="projects-footer__contacts-phone-link">+49 231 797-861-53</a>
            </div>
            <a href="#" class="projects-footer__made-by">
                <div class="projects-footer__made-by-text">
                    Creating a website
                </div>
                <img src="img/mw-logo-biege.svg" alt="" class="projects-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>