<section class="project-location">
    <div class="container">
        <div class="project-location__top-row">
            <h2 class="project-location__heading">
                Location
            </h2>
            <h3 class="large-heading project-location__large-heading js-animated-header">
                EASY ACCESSIBILITY, MANY HISTORICAL SITES AND PLENTY OF GREENERY IN THE VICINITY.
            </h3>
        </div>
        <div class="project-location__on-foot">
            <div class="project-location__on-foot-illustration">
                <div class="project-location__on-foot-illustration-scale">
                    <div class="project-location__on-foot-illustration-scale-human">
                        <svg width="14" height="14" aria-hidden="true" class="icon-person">
                            <use xlink:href="#person"></use>
                        </svg>
                    </div>
                    <div class="project-location__on-foot-illustration-scale-rule">

                    </div>
                    <div class="project-location__on-foot-illustration-scale-point">
                        <svg width="14" height="14" aria-hidden="true" class="icon-tree">
                            <use xlink:href="#tree"></use>
                        </svg>
                    </div>
                </div>
                <div class="project-location__on-foot-time">
                    <div class="project-location__on-foot-time-amount">
                        5 min
                    </div>
                    <div class="project-location__on-foot-time-text">
                        walk to the nearest park
                    </div>
                </div>
            </div>
            <div class="project-location__on-foot-image-container">
                <div class="project-location__on-foot-image-parallax-wrapper">
                    <img src="img/on-foot.jpg" alt="" class="project-location__on-foot-image">
                </div>
            </div>
        </div>
    </div>
</section>