<section class="projects" data-biege-header-start="">
    <div class="container">
        <div class="projects__top-row">
            <div class="projects__filters">
                <h3 class="projects__filters-heading">
                    Projects
                </h3>
                <div class="projects__filters-categories">
                    <a href="#" class="projects__filters-categories-link active">
                        All <span class="projects__filters-categories-link-count">
                            23
                        </span>
                    </a>
                    <a href="#" class="projects__filters-categories-link">
                        Done <span class="projects__filters-categories-link-count">
                            18
                        </span>
                    </a>
                    <a href="#" class="projects__filters-categories-link">
                        Done <span class="projects__filters-categories-link-count">
                            5
                        </span>
                    </a>
                </div>
            </div>
            <h2 class="projects__heading js-animated-header">
                We always succeed in acquiring unique properties.
            </h2>
        </div>
        <div class="projects__results">
            <div class="projects__about-company">
                <div class="projects__about-company-text js-block-to-reveal">
                    <p>
                        The company has years of experience in real estate development and deals with quality,
                        sophisticated and highly profitable real estate.
                    </p>
                </div>

                <a href="projects.html" class="dot-btn dot-btn--dark-hover projects__more-projects-link">
                    <div class="dot-btn__text">
                        All Projects
                    </div>
                    <div class="dot-btn__dot">

                    </div>
                </a>

            </div>
            <ul class="projects__results-list">
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">


                                <img src="img/projects/1.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    WOHNANLAGE IN LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                01
                            </span>
                            WOHNANLAGE IN LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">


                                <img src="img/projects/2.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                02
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/3.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                03
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/4.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                04
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/2.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                05
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>

                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/1.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    WOHNANLAGE IN LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                06
                            </span>
                            WOHNANLAGE IN LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/4.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                07
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="project.html" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/3.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                08
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
            </ul>

            <a href="projects.html" class="dot-btn dot-btn--dark-hover projects__results-show-all">
                <div class="dot-btn__text">
                    All Projects
                </div>
                <div class="dot-btn__dot">

                </div>
            </a>
        </div>
    </div>
</section>