<footer class="project-footer js-project-footer" data-biege-header-end="">
    <div class="project-footer__bg">
        <div class="project-footer__bg-parallax-wrapper">
            <img src="img/project-footer.jpg" alt="" class="project-footer__bg-image">
        </div>
    </div>
    <div class="container">
        <div class="project-footer__grid">
            <h3 class="project-footer__next-project-heading">
                Next project
            </h3>
            <a href="#" class="project-footer__next-project-link">
                DER STADT LEIPZIG <span class="project-footer__next-project-number">05</span>
                <svg width="70" height="70" aria-hidden="true" class="icon-next-arrow">
                    <use xlink:href="#next-arrow"></use>
                </svg>
            </a>
            <div class="project-footer__address">
                <div class="project-footer__year">
                    © 2021
                </div>
                <div class="project-footer__address-text">
                    <p>
                        Weingartenstr. 13, <br> 44263, Dortmund, Germany.
                    </p>
                </div>
            </div>
            <div class="project-footer__contacts">
                <a href="mailto:info@gld-gmbh.de"
                    class="project-footer__contacts-mail-link"><span>info@gld-gmbh.de</span></a>
                <a href="tel:+49 231 797-861-53" class="project-footer__contacts-phone-link">+49 231 797-861-53</a>
            </div>
            <a href="#" class="project-footer__made-by">
                <div class="project-footer__made-by-text">
                    Creating a website
                </div>
                <img src="img/mw-logo.svg" alt="" class="project-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>