<section class="projects projects--all">
    <div class="container">
        <div class="projects__top-row">
            <div class="projects__filters">
                <h3 class="projects__filters-heading">
                    Projects
                </h3>
                <div class="projects__filters-categories">
                    <a href="#" class="projects__filters-categories-link active">
                        All <span class="projects__filters-categories-link-count">
                            23
                        </span>
                    </a>
                    <a href="#" class="projects__filters-categories-link">
                        Done <span class="projects__filters-categories-link-count">
                            18
                        </span>
                    </a>
                    <a href="#" class="projects__filters-categories-link">
                        Planning <span class="projects__filters-categories-link-count">
                            5
                        </span>
                    </a>
                </div>
            </div>
            <div class="projects__large-heading-wrapper">


                <h1 class="projects__large-heading">
                    Projects <span class="projects__large-heading-count">23</span>
                </h1>
            </div>
        </div>
        <div class="projects__results">
            <div class="projects__about-company">
                <div class="projects__about-company-text">
                    <p>
                        We always succeed in acquiring unique properties.
                    </p>
                </div>



            </div>
            <ul class="projects__results-list">
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">


                                <img src="img/projects/1.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                01
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">


                                <img src="img/projects/2.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                02
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/3.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                03
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/4.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                04
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/2.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                05
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>

                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/1.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                06
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/4.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                07
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
                <li class="projects__results-list-item">
                    <a href="#" class="projects__results-card js-remove-overlay">
                        <div class="projects__results-card-image-container">
                            <div class="projects__results-card-image-parallax-wrapper">
                                <img src="img/projects/3.jpg" alt="" class="projects__results-card-image">
                            </div>
                            <div class="projects__results-card-info">
                                <h4 class="projects__results-card-info-title">
                                    DER STADT LEIPZIG
                                </h4>
                                <table class="projects__results-card-info-table">
                                    <tbody>


                                        <tr>
                                            <th>
                                                Adress
                                            </th>
                                            <td>
                                                Weingartenstraße 7a-13, Dor
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Site Area
                                            </th>
                                            <td>
                                                1440 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total floor area
                                            </th>
                                            <td>
                                                1264 м²
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                parking spaces
                                            </th>
                                            <td>
                                                16
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Project duration
                                            </th>
                                            <td>
                                                24 mounth
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="projects__results-card-overlay js-overlay">

                            </div>
                        </div>
                        <h4 class="projects__results-card-title">
                            <span class="projects__results-card-number">
                                08
                            </span>
                            DER STADT LEIPZIG
                        </h4>
                    </a>
                </li>
            </ul>


        </div>
    </div>
</section>