<footer class="simple-footer simple-footer--white">
    <div class="container">
        <div class="simple-footer__grid">
            <div class="simple-footer__address">
                <div class="simple-footer__year">
                    © 2021
                </div>
                <div class="simple-footer__address-text">
                    <p>
                        Weingartenstr. 13, <br> 44263, Dortmund, Germany.
                    </p>
                </div>
            </div>
            <div class="simple-footer__contacts">
                <a href="mailto:info@gld-gmbh.de"
                    class="simple-footer__contacts-mail-link"><span>info@gld-gmbh.de</span></a>
                <a href="tel:+49 231 797-861-53" class="simple-footer__contacts-phone-link">+49 231 797-861-53</a>
            </div>
            <a href="#" class="simple-footer__made-by">
                <div class="simple-footer__made-by-text">
                    Creating a website
                </div>
                <img src="img/mw-logo.svg" alt="" class="simple-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>