<footer class="supersimple-footer">
    <div class="container">
        <div class="supersimple-footer__row">
            <div class="supersimple-footer__year">
                © 2021
            </div>
            <a href="#" class="supersimple-footer__made-by">
                Creating a website 
                <img src="img/mw-logo-brown.svg" alt="" class="supersimple-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>