<section class="vacancies js-tabs-container" id="vacancies">
    <div class="container">
        <div class="vacancies__row">
            <div class="vacancies__navigation">
                <h3 class="vacancies__navigation-heading">
                    Location
                </h3>
                <div class="vacancies__navigation-links">
                    <a href="#" class="vacancies__navigation-link js-tabs-btn active">
                        All <span class="vacancies__navigation-link-count">
                            7
                        </span>
                    </a>
                    <a href="#" class="vacancies__navigation-link js-tabs-btn">
                        Dortmund <span class="vacancies__navigation-link-count">
                            3
                        </span>
                    </a>
                    <a href="#" class="vacancies__navigation-link js-tabs-btn">
                        Hamburg <span class="vacancies__navigation-link-count">
                            4
                        </span>
                    </a>
                </div>
            </div>
            <div class="vacancies__content">
                <div class="vacancies__tabs">
                    <div class="vacancies__tab js-tabs-item active">
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Warehousing Project Manager Warehousing Property Department
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Conditions
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Salary 70 000 rubles + bonuses (up to 90 000 rubles);
                                                    </li>
                                                    <li>
                                                        Face-to-face format in a comfortable office of the company in
                                                        the city centre: ul. Mushtari;
                                                    </li>
                                                    <li>
                                                        Schedule of work 5 / 2: from 09:00 to 18:00;
                                                    </li>
                                                    <li>
                                                        Formalization according to the RF Labour Code.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Sales Manager
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vacancies__tab js-tabs-item">
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Warehousing Project Manager Warehousing Property Department
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Conditions
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Salary 70 000 rubles + bonuses (up to 90 000 rubles);
                                                    </li>
                                                    <li>
                                                        Face-to-face format in a comfortable office of the company in
                                                        the city centre: ul. Mushtari;
                                                    </li>
                                                    <li>
                                                        Schedule of work 5 / 2: from 09:00 to 18:00;
                                                    </li>
                                                    <li>
                                                        Formalization according to the RF Labour Code.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Sales Manager
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Warehousing Project Manager Warehousing Property Department
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Conditions
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Salary 70 000 rubles + bonuses (up to 90 000 rubles);
                                                    </li>
                                                    <li>
                                                        Face-to-face format in a comfortable office of the company in
                                                        the city centre: ul. Mushtari;
                                                    </li>
                                                    <li>
                                                        Schedule of work 5 / 2: from 09:00 to 18:00;
                                                    </li>
                                                    <li>
                                                        Formalization according to the RF Labour Code.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Sales Manager
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vacancies__tab js-tabs-item">
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Warehousing Project Manager Warehousing Property Department
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Conditions
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Salary 70 000 rubles + bonuses (up to 90 000 rubles);
                                                    </li>
                                                    <li>
                                                        Face-to-face format in a comfortable office of the company in
                                                        the city centre: ul. Mushtari;
                                                    </li>
                                                    <li>
                                                        Schedule of work 5 / 2: from 09:00 to 18:00;
                                                    </li>
                                                    <li>
                                                        Formalization according to the RF Labour Code.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Sales Manager
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Warehousing Project Manager Warehousing Property Department
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Conditions
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Salary 70 000 rubles + bonuses (up to 90 000 rubles);
                                                    </li>
                                                    <li>
                                                        Face-to-face format in a comfortable office of the company in
                                                        the city centre: ul. Mushtari;
                                                    </li>
                                                    <li>
                                                        Schedule of work 5 / 2: from 09:00 to 18:00;
                                                    </li>
                                                    <li>
                                                        Formalization according to the RF Labour Code.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies__card js-accordion" data-close-other="">
                            <div class="vacancies__card-header js-accordion-btn">
                                <div class="vacancies__card-header-row">


                                    <div class="vacancies__card-header-content">
                                        <h4 class="vacancies__card-header-title">
                                            Sales Manager
                                        </h4>
                                        <div class="vacancies__card-header-city">
                                            Dortmund
                                        </div>
                                    </div>
                                    <div class="vacancies__card-header-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                            <use xlink:href="#diagonal-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__card-content js-accordion-content">
                                <div class="vacancies__card-content-inner">
                                    <div class="vacancies__card-content-row">
                                        <div class="vacancies__card-content-left-col">
                                            <div class="vacancies__card-requirements">
                                                <p>
                                                    Required work experience: 3-6 years
                                                </p>
                                                <p>
                                                    Full-time
                                                </p>
                                            </div>

                                            <a href="#"
                                                class="dot-btn dot-btn--white dot-btn--dark-hover vacancies__card-link">
                                                <div class="dot-btn__text">
                                                    Apply Now
                                                </div>
                                                <div class="dot-btn__dot">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="vacancies__card-content-right-col">
                                            <div class="vacancies__card-text-content">
                                                <h4>
                                                    GLD GmbH needs specialists. The company has many years of experience
                                                    in property development and deals exclusively with high-quality,
                                                    sophisticated and high-yield residential or investment properties.
                                                </h4>
                                                <h4>
                                                    Responsibilities
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Creation of working documentation of AI section on interior
                                                        solutions in AutoCAD and Revit (we will teach the program);
                                                    </li>
                                                    <li>
                                                        Setting tasks for the project team;
                                                    </li>
                                                    <li>
                                                        Interfacing with all performers on the project team and third
                                                        party designers of engineering networks;
                                                    </li>
                                                    <li>
                                                        Supervising all stages of design in line with contractual
                                                        obligations;
                                                    </li>
                                                    <li>
                                                        Presence at meetings with the customer (measurements,
                                                        consulting);
                                                    </li>
                                                    <li>
                                                        Providing author's supervision.
                                                    </li>
                                                </ul>
                                                <h4>
                                                    Requirements
                                                </h4>
                                                <ul>
                                                    <li>
                                                        Higher architectural education;
                                                    </li>
                                                    <li>
                                                        Portfolio of working documentation (reference to working
                                                        documentation should be attached in a covering letter or sent by
                                                        email);
                                                    </li>
                                                    <li>
                                                        Good AutoCAD skills. Knowledge of Revit, or willingness to take
                                                        a training course at the company's expense
                                                    </li>
                                                    <li>
                                                        Preferably experience in interior design;
                                                    </li>
                                                    <li>
                                                        Creativity, out-of-the-box bold thinking, ability to find
                                                        architectural solutions independently.
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>