<div class="video-modal js-modal" id="video-modal">
    <div class="video-modal__inner">

        <div class="video-modal__grid">
            <div class="video-modal__top-row">

                <div class="container">


                    <div class="video-modal__top-row-inner">
                        <div class="video-modal__description">
                            <p>
                                “An integrated approach is the basis of our work. we create and manage high-class
                                commercial
                                and residential facilities.“
                            </p>
                        </div>
                        <button class="video-modal__close-btn js-close-modal">
                            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                                <use xlink:href="#close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="video-modal__content">

                <div class="video-modal__card">
                    {{!-- <div data-plyr-provider="youtube" data-plyr-embed-id="9whwsSqFF1I" class="js-media-player"></div> --}}

                    <video class="js-media-player" playsinline controls>
                        <source src="assets/video/video.mp4" type="video/mp4" />
                    </video>
                </div>

            </div>
        </div>
    </div>
</div>