.about {
    background: var(--medium-brown);
    color: var(--dark-brown);
}

.about__content {
    padding-top: 5.5rem;
    padding-bottom: 7rem;
}

.about__top-row {
    @include grid();
    margin-bottom: 10rem;
    align-items: flex-start;
}

.about__small-heading {
    grid-column: 1 / 2;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 123.02%;
}

.about__large-heading {
    grid-column: 2/ -1;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    text-transform: uppercase;
}

.about__grid {
    @include grid();
}

.about__small-text {
    grid-column: 3 / 4;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 13.5rem;
}

.about__numbers {
    grid-column: 5 / -1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__numbers-inner {
    max-width: 25rem;
    margin: 0 auto;
    width: 100%;
}

.about__numbers-list {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid var(--dark-brown);
    padding: 1rem 0;
    margin-bottom: 6rem;
}

.about__numbers-list-item {
}

.about__numbers-card {
    padding: 4rem 2rem;
    text-align: center;
}

.about__numbers-card-amount {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about__numbers-card-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.about__numbers-link {
    width: 100%;
}

.about__film {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.about__film-video-card {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: var(--light-brown);

    &:link,
    &:visited {
        color: var(--light-brown);
    }

    .no-touch &:hover,
    .touch &:active {
        .about__film-video-play-duration::before {
            transform: scale(1.1);
        }

        .about__film-video-play-text {
            transform: translateX(0.7rem);
        }
    }

    &::before {
        content: '';
        display: block;
        padding-bottom: 65%;
    }
}

.about__film-video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.3), rgba(77, 61, 53, 0.3));
        mix-blend-mode: multiply;
    }
}

.about__film-video-preview-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__film-video-row {
    position: absolute;
    left: 0;

    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    align-items: center;
    padding: 3.5rem 0;
    max-height: 100%;
}

.about__film-video-play {
    display: flex;
    align-items: center;
    grid-column: span 2;
    padding-left: 4rem;
}

.about__film-video-play-duration {
    width: 9.5rem;
    height: 12.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-right: 1.5rem;

    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('../img/play-triangle.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s;
    }
}

.about__film-video-play-duration-digits {
    margin-right: 1.8rem;
}

.about__film-video-play-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    transition: transform 0.3s;
}

.about__film-video-description {
    grid-column: span 2;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 110%;
    padding-right: 4rem;
}
