.dot-btn {
    display: inline-flex;
    align-items: center;
    border: 0.2rem solid var(--dark-brown);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    color: var(--dark-brown);

    &:link,
    &:visited {
        color: var(--dark-brown);
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--light-brown);
    }

    &--dark-hover {
        .no-touch &:hover,
        .touch &:active {
            background-color: var(--medium-brown);
            color: var(--light-brown);

            .dot-btn__dot {
                &::before {
                    background-color: var(--light-brown);
                }
            }
        }
    }

    &--brown {
        background-color: var(--medium-brown);
        border-color: var(--light-brown);
        color: var(--light-brown);

        &:link,
        &:visited {
            color: var(--light-brown);
        }

        .no-touch &:hover,
        .touch &:active {
            background-color: var(--light-brown);
            color: var(--medium-brown);
            border-color: var(--medium-brown);

            .dot-btn__dot {
                border-color: var(--medium-brown);
                &::before {
                    background-color: var(--medium-brown);
                }
            }
        }
    }
}

.dot-btn__text {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    padding: 1.8rem 2.5rem;
    text-align: center;
    width: 50%;
    flex-grow: 1;

    @include breakpoint(tablet) {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 1.6rem 2.5rem;
    }
}

.dot-btn__dot {
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    border-left: 2px solid var(--dark-brown);
    align-self: stretch;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    @include breakpoint(tablet) {
        width: 5rem;
    }

   

    &::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--dark-brown);
        border-radius: 50%;
        transition: background-color 0.2s;
    }

    .dot-btn--brown & {
        border-color: var(--light-brown);

        &::before {
            background-color: var(--light-brown);
        }
    }
}
