.form {
}

.form__fields {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(small-tablet) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.form__field-label {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    display: block;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 0.8rem;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.form__field-input {
    height: 6rem;
    border: 2px solid var(--dark-brown);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    padding: 0 1.6rem;
    transition: box-shadow 0.2s;
    color: var(--dark-brown);
    @include placeholder {
        color: var(--dark-brown);
    }

    &:focus {
        box-shadow: 0 0 0 1px var(--dark-brown);
    }
    &--light {
        border-color: var(--light-brown);
        color: var(--light-brown);

        @include placeholder {
            color: var(--light-brown);
        }

        &:focus {
            box-shadow: 0 0 0 1px var(--light-brown);
        }
    }

    @include breakpoint(tablet) {
        height: 5rem;
        font-size: 1.6rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        height: 4.5rem;
        font-size: 1.6rem;
    }
}

textarea.form__field-input {
    height: 18rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;

    @include breakpoint(tablet) {
        height: 15rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    @include breakpoint(mobile) {
        height: 12rem;
    }
}

.form__controls {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(tablet) {
        display: flex;
        margin-top: 3rem;
    }
}

.form__submit {
    grid-column: 1 / 2;

    .dot-btn__text {
        width: 15rem;

        
    }

    @include breakpoint(tablet) {
        grid-column: 1 / 2;
    }
}
