.home-footer {
    background-color: var(--dark-brown);
    color: var(--light-brown);
    position: relative;
    z-index: 12;
}

.home-footer__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    img,
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.05);
    }
}

.home-footer__grid {
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 2.2rem;
    @include grid();
    grid-template-rows: auto 1fr auto;

    @include breakpoint(tablet) {
        padding-top: 4rem;
    }

    @include breakpoint(mobile) {
        grid-template-rows: auto auto auto 1fr auto auto;
        grid-row-gap: 0;
    }
}

.home-footer__text {
    font-size: 5rem;
    line-height: 110%;

    text-indent: 54rem;
    text-transform: uppercase;
    grid-column: 1 / -1;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 3.2rem;
        line-height: 110%;
        text-indent: 32rem;
    }

    @include breakpoint(small-tablet) {
        text-indent: 25rem;
    }
    @include breakpoint(mobile) {
        font-size: 2.2rem;
        text-indent: 12.3rem;
        line-height: 100%;
    }
}

.home-footer__email {
    grid-column: 3 / -1;

    @include breakpoint(small-tablet) {
        grid-column: 2 / -1;
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.home-footer__email-text {
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 100%;
        grid-column: 2 / -1;
    }
}

.home-footer__email-link {
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: var(--medium-brown);
    text-decoration: none;

    @include breakpoint(tablet) {
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1;
        grid-column: 1 / -1;
    }
    &:link,
    &:visited {
        color: var(--medium-brown);
    }

    & > span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 100% 0.2rem;

        transition: background-size 0.25s ease-out;
    }

    .no-touch &:hover,
    .touch &:active {
        & > span {
            background-size: 0% 0.2rem;
        }
    }
}

.home-footer__address {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    align-self: flex-end;

    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: 1 /2;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
        order: 9;
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.home-footer__year {
    margin-right: 2.2rem;
    white-space: nowrap;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        margin: 0;
        grid-column: span 1;
    }
}

.home-footer__address-text {
    @include breakpoint(mobile) {
        grid-column: span 2;
    }
}

.home-footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    justify-self: flex-start;
    grid-column: 3 / 6;

    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        margin: 3rem 0;
        align-self: center;
    }
}

.home-footer__contacts-mail-link {
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: inline-flex;

    margin-bottom: 1.4rem;

    @include underline();

    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 1.5rem;
    }
}

.home-footer__contacts-phone-link {
    font-weight: normal;
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
    @include breakpoint(tablet) {
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(mobile) {
        font-size: 3.6rem;
        line-height: 110%;
    }
}

.home-footer__made-by {
    grid-column: 6 / -1;
    text-align: right;

    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;

    @include breakpoint(small-tablet) {
        grid-column: 3 / -1;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
        justify-self: flex-start;
        text-align: left;
        align-items: flex-start;
        order: 10;
    }
}

.home-footer__made-by-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-transform: uppercase;
    }
}

.home-footer__made-by-logo {
    width: 10rem;
    height: auto;
    display: block;

    @include breakpoint(tablet) {
        width: 8rem;
    }

    @include breakpoint(mobile) {
        width: 9rem;
        margin-left: 0.2rem;
    }
}
