.home-intro {
    position: relative;
    z-index: 4;
    color: var(--light-brown);
}

.home-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-color: var(--dark-brown);
    backface-visibility: hidden;
    transform: translateZ(0);
    overflow: hidden;
}

.home-intro__bg-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(94, 75, 65, 0.9), rgba(94, 75, 65, 0.9));
        mix-blend-mode: multiply;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-image: url('../img/home-intro/noise-pattern.png');
        background-repeat: repeat;
        background-position: center;
        background-size: 11.4rem 7rem;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .animatable & {
        &::after {
            opacity: 1;
        }
    }
}

.home-intro__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0;

    @include breakpoint(small-tablet) {
        padding: 2rem 0;
    }
}

.home-intro__main-heading {
    max-width: 80rem;
    margin-bottom: auto;

    @include breakpoint(tablet) {
        max-width: 50rem;
        margin-bottom: 3.5rem;
    }

}

.home-intro__bg-parallax-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
}

.home-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
    transform: scale(1.15);

    .animatable & {
        transform: scale(1);
        transition: transform 1s ease-out;
    }
}

.home-intro__bottom-row {
    @include grid();
    align-items: center;

    @include breakpoint(small-tablet) {
        align-items: flex-end;
    }

    @include breakpoint(mobile) {
        margin-top: auto;
    }
}

.home-intro__cookies {
    display: flex;
    align-items: center;
    border: 2px solid var(--light-brown);

    @include breakpoint(tablet) {
        grid-column: 1 / 3;
        justify-self: flex-start;
    }


    @include breakpoint(small-tablet) {
        grid-column: 1 / 2;
    }
   

    @include breakpoint(mobile) {
        grid-column: 1 / 3;
    }

    

    &.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
    }
}

.home-intro__cookies-text {
    width: 50%;
    flex-grow: 1;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;

    @include breakpoint(tablet) {
        max-width: 18rem
    }

    @include breakpoint(small-tablet) {
        font-size: 1rem;
        padding: 0.8rem;
        max-width: 15rem;
    }

    a {
        @include underline();
    }
}

.home-intro__cookies-close {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    flex-shrink: 0;
    border-left: 2px solid var(--light-brown);
    align-self: stretch;

    transition: background-color 0.2s, color 0.2s;
    position: relative;
    z-index: 1;

    

    @include breakpoint(tablet) {
        width: 5.2rem;
    }

    @include breakpoint(small-tablet) {
        width: 5rem;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--light-brown);
        svg {
            fill: var(--dark-brown);
        }
    }
    svg {
        width: 2.2rem;
        height: 2.2rem;
        flex-shrink: 0;
        fill: var(--light-brown);
        transition: fill 0.2s;
    }
}

.home-intro__scroll-down {
    grid-column: 3 / 4;

    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
        margin-bottom: .8rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.home-intro__scroll-down-link {
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(tablet) {
        width: 2.5rem;
        height: 2.5rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--light-brown);
    }
}

.home-intro__page-header-wrapper {
    min-height: 33rem;
    margin-top: auto;

    @include breakpoint(small-tablet) {
        min-height: 35rem;
    }

    @include breakpoint(mobile) {
        min-height: auto;
        margin-top: 0;
    }
}


