.news {
    padding-top: 9rem;
    padding-bottom: 10rem;

    @include breakpoint(small-tablet) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.news__top-row {
    @include grid();
    margin-bottom: 6.5rem;

    @include breakpoint(small-tablet) {
        margin-bottom: 5rem;
    }

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
        display: grid;
        margin-bottom: 2rem;
    }
}

.news__filters {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(small-tablet) {
        grid-column: span 1;
        display: flex;
        grid-gap: unset;
    }

    @include breakpoint(mobile) {
        order: 2;
    }
}

.news__filters-heading {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 123.02%;
    display: flex;
    align-items: flex-start;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    @include breakpoint(small-tablet) {
        width: 11.5rem;
        margin-right: 1rem;
    }
    &::after {
        content: '';
        flex-shrink: 0;
        background-color: rgba(#5e4b41, 0.2);
        height: 1px;
        width: 3rem;
        flex-shrink: 0;
        margin-left: 3rem;
        margin-top: 1rem;
        flex-grow: 1;

        @include breakpoint(tablet) {
            margin-left: 1rem;
            margin-top: 0.7rem;
        }

        @include breakpoint(tablet) {
            margin-left: 1rem;
            margin-top: 0.7rem;
        }
    }
}

.news__filters-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include breakpoint(mobile) {
        flex-direction: row;
        align-items: initial;
        gap: 3rem;
        flex-wrap: wrap;
    }
}

.news__filters-categories-link {
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: flex-start;
    line-height: 123.02%;
    color: rgba(#5e4b41, 0.3);
    transition: color 0.2s;
    &:link,
    &:visited {
        color: rgba(#5e4b41, 0.3);
    }

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    &.active {
        color: #5e4b41;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #5e4b41;
    }
}

.news__filters-categories-link-count {
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 0.5rem;

    @include breakpoint(tablet) {
        font-size: 0.8rem;
    }
}

.news__large-heading-wrapper {
    grid-column: span 3;
    margin-top: -2rem;
    margin-left: -1.4rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    @include breakpoint(tablet) {
        margin-top: -1rem;
        margin-left: -0.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: span 2;
        margin-top: -1rem;
    }

    @include breakpoint(mobile) {
        margin-left: -0.5rem;
    }
}

.news__large-heading {
    font-weight: 300;
    font-size: 15rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    transform: translateY(100%);
    transition: transform .4s ease-out;

    .animatable & {
        transform: translateY(0%);
        transition-delay: .4s;
    }
    @include breakpoint(tablet) {
        font-size: 10rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 8rem;
    }

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 6rem;
        line-height: 100%;
    }
}

.news__large-heading-count {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 110%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
    letter-spacing: 0;
    margin-top: 1.7rem;

    @include breakpoint(tablet) {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-top: 1rem;
        margin-left: 2rem;
        font-weight: 500;
    }

    @include breakpoint(small-tablet) {
        font-size: 2rem;
        margin-top: 0.7rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-top: 0.4rem;
        margin-left: 1rem;
    }
}

.news__image-block {
    position: relative;
    z-index: 1;
    margin-bottom: 10rem;

    @include breakpoint(tablet) {
        margin-bottom: 7rem;
    }
}

.news__image-block-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.news__image-block-bg-image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.2), rgba(77, 61, 53, 0.2));
        mix-blend-mode: multiply;
    }
}

.news__image-block-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__image-block-grid {
    min-height: 74rem;
    @include grid();
    padding: 4rem 0;

    @include breakpoint(tablet) {
        min-height: 50rem;
    }

    @include breakpoint(mobile) {
        padding: 2rem 0;
        min-height: 40rem;
    }
}

.news__image-block-card {
    align-self: flex-end;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 34rem;
    border: 0.2rem solid var(--dark-brown);
    background-color: var(--light-brown);

    @include breakpoint(tablet) {
        grid-column: span 3;

        min-height: 24.5rem;
    }

    @include breakpoint(mobile) {
        padding: 1rem;
    }

    .no-touch &:hover,
    .touch &:active {
        .news__image-block-card-title {
            color: currentColor;
            & > span {
                background-size: 100% 0.2rem;
            }
        }
    }
}

.news__image-block-card-info {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--medium-brown);

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.news__image-block-card-title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 110%;
    margin-bottom: 2rem;

    text-decoration: none;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 110%;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 110%;
    }

    & > span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 0.2rem;

        transition: background-size 0.25s ease-out;
    }
}

.news__image-block-card-row {
    margin-top: auto;
    display: flex;
    align-items: flex-end;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
        display: grid;
    }

    svg {
        flex-shrink: 0;
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 8rem;
        fill: #a98774;

        @include breakpoint(tablet) {
            width: 2.2rem;
            height: 2.2rem;
            margin-right: 4rem;
        }

        @include breakpoint(mobile) {
            width: 2.5rem;
            height: 2.5rem;
            margin: 0;
            grid-column: span 1;
        }
    }
}

.news__image-block-card-description {
    width: 50%;
    flex-grow: 1;
    font-size: 1.5rem;
    line-height: 1.2;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.5rem;
        grid-column: span 2;
        width: 100%;
        flex-grow: 0;
    }
}

.news__all-articles {
}

.news__all-articles-grid {
    @include grid();
}

.news__all-articles-heading {
    font-weight: normal;
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    margin-bottom: 6.5rem;

    @include breakpoint(tablet) {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 110%;
        margin-bottom: 4rem;
    }
}

.news__all-articles-content {
    grid-column: 3 / -1;

    @include breakpoint(small-tablet) {
        grid-column: 1 / -1;
    }
}

.news__all-articles-count {
    font-weight: normal;
    font-size: 2.4rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 0.5rem;
    line-height: 110%;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-top: 0.2rem;
    }
}

.news__all-articles-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    margin-bottom: 8.5rem;

    @include breakpoint(tablet) {
        margin-bottom: 4rem;
    }

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.news__pagination {
    display: flex;
    align-items: center;
    gap: 6rem;

    @include breakpoint(tablet) {
        gap: 3rem;
    }

    @include breakpoint(mobile) {
        gap: 1rem;
        justify-content: center;
    }
}

.news__pagination-list {
    display: flex;
    align-items: center;
}

.news__pagination-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 5.5rem;
    border: 0.2rem solid transparent;
    transition: border-color 0.2s, color 0.2s;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 110%;
    font-feature-settings: 'tnum' on, 'lnum' on;

    @include breakpoint(tablet) {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        width: 5rem;
        height: 5rem;
        font-size: 1.6rem;
    }

    &.current {
        color: #cfbcb3;
        cursor: default;
        pointer-events: none;
    }

    .no-touch &:not(.current):hover,
    .touch &:not(.current):active {
        border-color: var(--dark-brown);
        color: var(--dark-brown);
    }
}

.news__pagination-next {
    height: 5.5rem;
    display: flex;
    align-items: center;
    border: 0.2rem solid var(--dark-brown);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    @include breakpoint(tablet) {
        height: 5rem;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--medium-brown);
        color: var(--light-brown);

        .news__pagination-next-icon svg {
            fill: var(--light-brown);
        }
    }
}

.news__pagination-next-text {
    width: 18rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint(tablet) {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 14rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.news__pagination-next-icon {
    align-self: stretch;
    width: 5.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.2rem solid var(--dark-brown);
    transition: border-color 0.2s;

    @include breakpoint(tablet) {
        width: 5rem;
    }

    @include breakpoint(mobile) {
        border: none;
    }
    svg {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--dark-brown);
        transition: fill 0.2s;

        @include breakpoint(tablet) {
            width: 3rem;
            height: 3rem;
        }
    }
}
