.page-header {
    position: relative;
    padding-top: 4.5rem;

    z-index: 50;
    pointer-events: none;

    &--mixed {
        color: var(--light-brown);
    }

    &--white {
        color: var(--light-brown);
    }

    &--positioned-top {
        padding-bottom: 4.5rem;

        @include breakpoint(small-tablet) {
            padding-bottom: 3rem;
        }

        @include breakpoint(mobile) {
            padding-top: 2.2rem;
        }
    }

    @include breakpoint(small-tablet) {
        padding-top: 3rem;
    }

    @include breakpoint(mobile) {
        padding-top: 2.2rem;
    }
}

.page-header__row {
    @include grid();
    align-items: flex-start;
}

.page-header__logo {
    grid-column: 1 / 2;
    align-self: flex-start;
    justify-self: flex-start;
    pointer-events: initial;
}

.page-header__logo-image {
    width: 5.4rem;
    height: 7.6rem;
    display: block;

    @include breakpoint(tablet) {
        width: 4.6rem;
        height: 6.7rem;
    }

    @include breakpoint(mobile) {
        width: 4.2rem;
        height: 5.6rem;
    }
}

svg.page-header__logo-image {
    fill: var(--light-brown);
    transition: fill 0.2s;
    .page-header--biege &,
    .biege-header-mode & {
        fill: var(--medium-brown);
    }

    .page-header--mixed & {
        fill: var(--medium-brown);
    }

    .page-header--white & {
        fill: var(--light-brown);
    }
}
.page-header__nav-wrapper {
    grid-column: 2 / 3;
    position: relative;
    @include breakpoint(mobile) {
        grid-row: 1 / 2;
    }
}

.page-header__burger-btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    pointer-events: initial;
    margin-top: 0.3rem;

    @include breakpoint(mobile) {
        opacity: 1;
        visibility: inherit;
        transition: none;

        .home-intro & {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s linear 0.3s;
        }
    }
    .sticky-header & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }

    svg {
        display: block;
        width: 3.6rem;
        height: 1.2rem;
        fill: var(--light-brown);
        transition: fill 0.2s;

        @include breakpoint(tablet) {
            width: 3rem;
            height: 1.4rem;
        }

        @include breakpoint(mobile) {
            width: 3.5rem;
            height: 1.2rem;
        }
    }

    .page-header--biege &,
    .biege-header-mode & {
        svg {
            fill: var(--dark-brown);
        }
    }
}

.page-header__nav {
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    transform-origin: center top;

    @include breakpoint(mobile) {
        transform: scaleY(0);
        opacity: 0;
        visibility: hidden;
        transition: none;

        .home-intro & {
            opacity: 1;
            visibility: inherit;
            transform: scaleY(1);
            transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
        }
    }

    .sticky-header & {
        transform: scaleY(0);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s, opacity 0.3s, visibility 0s linear 0.3s;
    }
    & > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        @include breakpoint(tablet) {
            gap: 1rem;
        }

        @include breakpoint(mobile) {
            gap: 1.2rem;
        }
        & > li {
            & > a {
                font-size: 1.8rem;
                line-height: 2rem;
                pointer-events: initial;
                @include underline();

                @include breakpoint(tablet) {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }

                @include breakpoint(mobile) {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }

                &.active {
                    opacity: 0.7;
                    pointer-events: none;
                }
            }
        }
    }
}

.page-header__projects {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        grid-column: 3 / 5;
        justify-self: flex-start;
        max-width: 22rem;
    }
}

.page-header__projects-heading {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;

    @include breakpoint(tablet) {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

.page-header__projects-link {
    display: flex;
    align-items: flex-start;
    transition: color 0.2s, opacity 0.2s;
    color: var(--light-brown);
    pointer-events: initial;
    &:link,
    &:visited {
        color: var(--light-brown);
    }
    &.active {
        opacity: 0.7;
        pointer-events: none;
    }

    .page-header__projects-link-inner {
        text-decoration: none;
        & > span {
            background-image: linear-gradient(var(--light-brown), var(--light-brown));
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 100% 1px;

            transition: background-size 0.25s ease-out, background-color 0.2s;
        }
    }

    .page-header--biege &,
    .biege-header-mode & {
        color: var(--dark-brown);
        &:link,
        &:visited {
            color: var(--dark-brown);
        }

        .page-header__projects-link-inner {
            & > span {
                background-image: linear-gradient(var(--dark-brown), var(--dark-brown));
            }
        }
    }

    .no-touch &:hover,
    .touch &:active {
        opacity: 1;
        .page-header__projects-link-inner {
            & > span {
                background-size: 0% 1px;
            }
        }
    }
}

.page-header__projects-link-count {
    margin-left: 0.6rem;
}

.page-header__projects-slider {
    margin-top: 3rem;
    position: relative;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    transform-origin: center top;
    pointer-events: initial;

    @include breakpoint(tablet) {
        margin-top: 2.5rem;
    }

    @include breakpoint(small-tablet) {
        margin-top: 2rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }

    .sticky-header & {
        transform: scaleY(0);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s, opacity 0.3s, visibility 0s linear 0.3s;
    }

    .no-touch &:hover {
        .page-header__projects-slider-card-row {
            transform: translateY(calc(-100% - 2.5rem)) translateX(1rem);
        }

        .page-header__projects-slider-card-overlay {
            opacity: 1;
        }
    }

    &.show-work {
        .page-header__projects-slider-animation-container {
            opacity: 1;
        }
        .page-header__projects-slider-animation-line-moving-core {
            animation-name: movingLine;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }

        .page-header__projects-slider-animation-line {
            animation-name: hideLine;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }
    }
}

.page-header__projects-slider-card {
    display: flex;
    flex-direction: column;
}

.page-header__projects-slider-card-image-container {
    position: relative;
    margin-bottom: 1.5rem;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.2), rgba(77, 61, 53, 0.2));
    }
}

.page-header__projects-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-header__projects-slider-card-row {
    display: flex;
    align-items: flex-start;
    transition: transform 0.3s;
}

.page-header__projects-slider-card-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    transition: transform 0.3s;

    & > span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;

        transition: background-size 0.25s ease-out;
    }
}

.page-header__projects-slider-card-number {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.35;
    text-transform: uppercase;
    margin-left: 0.8rem;
}

.page-header__info {
    grid-column: 6 / 7;
    display: flex;
    align-items: center;

    @include breakpoint(tablet) {
        grid-column: 5 / 7;
        justify-self: flex-end;
    }

    @include breakpoint(small-tablet) {
        grid-column: 3 / 4;
        display: none;
    }
}

.page-header__languages {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    flex-shrink: 0;
}

.page-header__languages-link {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--light-brown);
    text-decoration: none;
    transition: color 0.2s, opacity 0.2s;
    opacity: 0.7;
    pointer-events: initial;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.2;
    }
    &:link,
    &:visited {
        color: var(--light-brown);
    }

    & > span {
        background-image: linear-gradient(var(--light-brown), var(--light-brown));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;

        transition: background-size 0.25s ease-out;
    }

    .no-touch &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;

        & > span {
            background-size: 100% 1px;
        }
    }

    .page-header--biege &,
    .biege-header-mode & {
        color: var(--dark-brown);
        & > span {
            background-image: linear-gradient(var(--dark-brown), var(--dark-brown));
        }
        &:link,
        &:visited {
            color: var(--dark-brown);
        }
    }
}

.page-header__phone {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 2px solid var(--light-brown);
    padding: 1.6rem 1.8rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    pointer-events: initial;
    color: var(--light-brown);

    @include breakpoint(tablet) {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 1rem 1rem;
    }

    @include breakpoint(mobile) {
        font-weight: 600;
    }

    &:link,
    &:visited {
        color: var(--light-brown);
    }
    .no-touch &:hover,
    .touch &:active {
        border-color: var(--dark-brown);
        background-color: var(--light-brown);
        color: var(--dark-brown);
    }

    .page-header--biege &,
    .biege-header-mode & {
        border-color: var(--dark-brown);
        color: var(--dark-brown);
        background-color: var(--light-brown);
        &:link,
        &:visited {
            color: var(--dark-brown);
        }
    }


    .no-touch .page-header--biege &,
    .no-touch.biege-header-mode & {
        &:hover {
            border-color: var(--dark-brown);
            background-color: var(--medium-brown);
            color: var(--light-brown);
        }
    }
    .touch .page-header--biege &,
    .touch.biege-header-mode & {
        &:active {
            border-color: var(--dark-brown);
            background-color: var(--medium-brown);
            color: var(--light-brown);
        }
    }
}

.page-header__projects-slider-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#5f4b41, 0.7);
    transition: opacity 0.3s;
    opacity: 0;
}

.page-header__projects-slider-animation-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 30;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
}

.page-header__projects-slider-animation-line {
    left: 2rem;
    right: 2rem;
    height: 1px;
    background-color: var(--light-brown);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.page-header__projects-slider-animation-line-moving-core {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &::before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--light-brown);
        border-radius: 50%;
    }
}

@keyframes hideLine {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes movingLine {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(calc(-100% + 1.5rem));
    }

    100% {
        transform: translateX(calc(-100% + 1.5rem));
    }
}
