.page-header {
    position: relative;
    padding-top: 4.5rem;
    &--positioned-top {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }

    &--biege {
        color: var(--dark-brown);

       
    }
}

.page-header__row {
    @include grid();
    align-items: flex-start;
}

.page-header__logo {
    grid-column: 1 / 2;
    align-self: flex-start;
    justify-self: flex-start;
}

.page-header__logo-image {
    width: 5.4rem;
    display: block;
    height: auto;
}

.page-header__nav-wrapper {
    grid-column: 2 / 3;
}

.page-header__nav {
    & > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        & > li {
            & > a {
                font-size: 1.8rem;
                line-height: 2rem;
                @include underline();
            }
        }
    }
}

.page-header__projects {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
}

.page-header__projects-heading {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
}

.page-header__projects-link {
    display: flex;
    align-items: flex-start;
    transition: color .2s, opacity .2s;

    &.disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    .page-header__projects-link-inner {
        text-decoration: none;
        & > span {
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 100% 1px;

            transition: background-size 0.25s ease-out;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        opacity: 1;
        .page-header__projects-link-inner {
            & > span {
                background-size: 0% 1px;
            }
        }
    }
}

.page-header__projects-link-count {
    margin-left: .6rem;
}

.page-header__projects-slider {
    margin-top: 3rem;
    position: relative;

    .no-touch &:hover {
        .page-header__projects-slider-card-row {
            transform: translateY(calc(-100% - 2.5rem)) translateX(1rem);
        }

        .page-header__projects-slider-card-overlay {
            opacity: 1;
        }
    }

    &.show-work {
        .page-header__projects-slider-animation-container {
            opacity: 1;
        }
        .page-header__projects-slider-animation-line-moving-core {
            animation-name: movingLine;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }

        .page-header__projects-slider-animation-line {
            animation-name: hideLine;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }
    }
}

.page-header__projects-slider-card {
    display: flex;
    flex-direction: column;
}

.page-header__projects-slider-card-image-container {
    position: relative;
    margin-bottom: 1.5rem;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.2), rgba(77, 61, 53, 0.2));
    }
}

.page-header__projects-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-header__projects-slider-card-row {
    display: flex;
    align-items: flex-start;
    transition: transform 0.3s;
}

.page-header__projects-slider-card-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    transition: transform 0.3s;

    & > span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;

        transition: background-size 0.25s ease-out;
    }
}

.page-header__projects-slider-card-number {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.35;
    text-transform: uppercase;
    margin-left: 0.8rem;
}

.page-header__info {
    grid-column: 6 / 7;
    display: flex;
    align-items: center;
}

.page-header__languages {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    flex-shrink: 0;
}

.page-header__languages-link {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgba(#ffede3, 0.7);
    text-decoration: none;

    & > span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;

        transition: background-size 0.25s ease-out;
    }
    &:link,
    &:visited {
        color: rgba(#ffede3, 0.7);
    }

    .no-touch &:hover {
        color: #ffede3;
    }

    &.active {
        color: #ffede3;
        &:link,
        &:visited {
            color: #ffede3;
        }

        & > span {
            background-size: 100% 1px;
        }
    }


    .page-header--biege & {
        color: rgba(#5E4B41, 0.7);
        &:link,
        &:visited {
            color: rgba(#5E4B41, 0.7);
        }

        .no-touch &:hover {
            color: #5E4B41;
        }

        &.active {
            color: #5E4B41;
            &:link,
            &:visited {
                color: #5E4B41;
            }
        }
    }
}

.page-header__phone {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 0.2rem solid var(--light-brown);
    padding: 1.6rem 1.8rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    .no-touch &:hover,
    .touch &:active {
        border-color: var(--dark-brown);
        background-color: var(--light-brown);
        color: var(--dark-brown);
    }

    .page-header--biege & {
        border-color: var(--dark-brown);

        .no-touch &:hover,
        .touch &:active {
            border-color: var(--dark-brown);
            background-color: var(--medium-brown);
            color: var(--light-brown);
        }
    }
}

.page-header__projects-slider-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#5f4b41, 0.7);
    transition: opacity 0.3s;
    opacity: 0;
}

.page-header__projects-slider-animation-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 30;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
}

.page-header__projects-slider-animation-line {
    left: 2rem;
    right: 2rem;
    height: 1px;
    background-color: var(--light-brown);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.page-header__projects-slider-animation-line-moving-core {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &::before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--light-brown);
        border-radius: 50%;
    }
}

@keyframes hideLine {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes movingLine {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(calc(-100% + 1.5rem));
    }

    100% {
        transform: translateX(calc(-100% + 1.5rem));
    }
}
