.project-intro {
    position: relative;
    z-index: 1;
    color: var(--light-brown);
}

.project-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.5), rgba(77, 61, 53, 0.5));
        mix-blend-mode: multiply;
    }
}

.project-intro__bg-parallax-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
    transform: translateZ(0);
}

.project-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-intro__content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 2rem;
    
}

.project-intro__top-row {
    @include grid();
   
    align-items: flex-start;
}

.project-intro__address {
    grid-column: 1 / 2;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

.project-intro__main-heading-wrapper {
    grid-column: 3 / -1;
    margin-top: -1rem;
    margin-bottom: 3rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.project-intro__main-heading {
  
    display: flex;
    align-items: flex-start;
    transform: translateY(100%);
    transition: transform .5s;
    .animatable & {
        transform: translateY(0%);
        transition: .4s ease-out;
        transition-delay: .4s;
    }
   
    
}

.project-intro__main-heading-number {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-left: 0.8rem;
    font-weight: 500;
    margin-top: 0.4rem;
}

.project-intro__sale,
.project-intro__rooms {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

.project-intro__sale {
    grid-column: 4 / 5;
}

.project-intro__rooms {
    grid-column: 5 / 6;
}

.project-intro__bottom-row {
    align-self: flex-end;
    margin-bottom: 4.5rem;

    @include grid();
}

.project-intro__scroll-down {
    grid-column: 3 / 4;

    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
        margin-bottom: .8rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.project-intro__scroll-down-link {
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(tablet) {
        width: 2.5rem;
        height: 2.5rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--light-brown);
    }
}