.projects-footer {
    background-color: var(--dark-brown);
    color: var(--medium-brown);
    position: relative;
    z-index: 60;
}

.projects-footer__grid {
    padding-top: 5.5rem;
    padding-bottom: 2.2rem;
    @include grid();
    grid-row-gap: 5rem;

    @include breakpoint(small-tablet) {
        grid-row-gap: 2rem;
        padding-top: 4rem;
    }

    @include breakpoint(mobile) {
        padding-top: 3rem;
    }
}

.projects-footer__small-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 123.02%;
    grid-column: span 2;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    @include breakpoint(small-tablet) {
        grid-column: span 1;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 123.02%;
    }
}

.projects-footer__large-title {
    font-size: 5rem;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    grid-column: span 4;

    @include breakpoint(tablet) {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(small-tablet) {
        grid-column: span 2;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        font-weight: normal;
        font-size: 2.7rem;
        line-height: 100%;
        margin-bottom: 2rem;
    }
}

.projects-footer__text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    grid-column: span 2;
    max-width: 25rem;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    @include breakpoint(small-tablet) {
        grid-column: 1 / -1;
    }

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 123.02%;
        grid-column: 2 / -1;
        margin-bottom: 4rem;
    }
}

.projects-footer__features {
    grid-column: span 4;
    @include breakpoint(mobile) {
        margin-bottom: 10rem;
    }
}

.projects-footer__features-list {
    display: flex;
    margin-bottom: 20rem;

    @include breakpoint(tablet) {
        margin-bottom: 8rem;
    }

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.projects-footer__features-list-item {
    width: 29rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: 100%;
    }
    &:not(:first-child) {
        margin-left: -1px;
    }
}

.projects-footer__features-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--medium-brown);

    @include breakpoint(mobile) {
        border: none;
    }
}

.projects-footer__features-card-top {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--medium-brown);

    @include breakpoint(mobile) {
        padding: 1rem;
        border: 1px solid var(--medium-brown);

        &:not(:first-child) {
            margin-top: -1px;
        }
    }

    .projects-footer__features-list-item:nth-child(1) & {
        min-height: 30rem;

        @include breakpoint(mobile) {
            min-height: auto;
        }
    }
    .projects-footer__features-list-item:nth-child(2) & {
        min-height: 27rem;
        @include breakpoint(mobile) {
            min-height: auto;
        }
    }
    .projects-footer__features-list-item:nth-child(3) & {
        min-height: 25rem;
        @include breakpoint(mobile) {
            min-height: auto;
        }
    }
}

.projects-footer__features-card-title {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 123.02%;
        margin-bottom: 1.5rem;
    }
}

.projects-footer__features-card-top-text {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.2;

    @include breakpoint(tablet) {
        font-size: 1.8rem;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 110%;
    }
}

.projects-footer__features-card-bottom {
    padding: 2rem;
    min-height: 23rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 1rem;

        border: 1px solid var(--medium-brown);
        margin-left: -1px;
        min-height: 14rem;
        &:not(:first-child) {
            margin-top: -1px;
        }
    }
}

.projects-footer__features-card-amount {
    font-weight: normal;
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
        font-size: 3.5rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.7rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }
}

.projects-footer__features-card-bottom-text {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: auto;
    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 400;
    }
}

.projects-footer__address {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    align-self: flex-end;
    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: 1 /2;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
        order: 9;
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.projects-footer__address-text {
    @include breakpoint(mobile) {
        grid-column: span 2;
    }
}

.projects-footer__year {
    margin-right: 2.2rem;
    white-space: nowrap;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        margin: 0;
        grid-column: span 1;
    }
}

.projects-footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    justify-self: flex-start;
    grid-column: 3 / 6;

    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        margin-bottom: 10rem;
        align-self: center;
    }
}

.projects-footer__contacts-mail-link {
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: inline-flex;

    margin-bottom: 1.4rem;

    @include underline();

    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 1.5rem;
    }
}

.projects-footer__contacts-phone-link {
    font-weight: normal;
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
    @include breakpoint(tablet) {
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(mobile) {
        font-size: 3.6rem;
        line-height: 110%;
    }
}

.projects-footer__made-by {
    grid-column: 6 / -1;
    text-align: right;

    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;

    @include breakpoint(small-tablet) {
        grid-column: 3 / -1;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
        justify-self: flex-start;
        text-align: left;
        align-items: flex-start;
        order: 10;
    }
}

.projects-footer__made-by-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-transform: uppercase;
    }
}

.projects-footer__made-by-logo {
    width: 10rem;
    height: auto;
    display: block;

    @include breakpoint(tablet) {
        width: 8rem;
    }

    @include breakpoint(mobile) {
        width: 10rem;
    }
}

.project-footer__mobile-features-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 13.6rem);
}
