.projects {
    padding-top: 5.5rem;
    padding-bottom: 7rem;

    &--all {
        padding-top: 9rem;
        padding-bottom: 10rem;
    }

    @include breakpoint(tablet) {
        padding-top: 5rem;
        padding-bottom: 8rem;
    }

    @include breakpoint(small-tablet) {
        padding-top: 4.5rem;
        padding-bottom: 7rem;
    }

    @include breakpoint(mobile) {
        padding-top: 4rem;
        padding-bottom: 9rem;

        &--all {
            padding-bottom: 5rem;
            .container {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                grid-gap: 2rem
            }
        }
    }
}

.projects__top-row {
    @include grid();
    margin-bottom: 6.5rem;

    @include breakpoint(tablet) {
        margin-bottom: 5rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 8rem;
    }

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
        margin-bottom: 4rem;

        .projects--all & {
            display: contents;
        }
    }
}

.projects__filters {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(small-tablet) {
        grid-column: span 1;
        display: flex;
        grid-gap: unset;
    }

    @include breakpoint(mobile) {
        .projects--all & {
            order: 10;
            grid-column: 1 / -1;
        }
    }
}

.projects__large-heading {
    grid-column: span 3;
    font-weight: 300;
    font-size: 15rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    margin-top: -2rem;
    margin-left: -1.4rem;

    @include breakpoint(tablet) {
        font-size: 10rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: span 2;
        font-size: 8rem;
        margin-top: -1rem;
    }

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 6rem;
        line-height: 100%;
        margin-left: -0.5rem;
    }
}

.projects__large-heading-count {
    font-weight: 500;
    font-size: 5rem;
    line-height: 120%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
    letter-spacing: 0;
    margin-top: 1rem;

    @include breakpoint(tablet) {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    @include breakpoint(small-tablet) {
        font-size: 2rem;
        margin-top: 0.7rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-top: 0.4rem;
        margin-left: 1rem;
    }
}

.projects__filters-heading {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 123.02%;
    display: flex;
    align-items: flex-start;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    @include breakpoint(small-tablet) {
        width: 11.5rem;
        margin-right: 1rem;
    }
    &::after {
        content: '';
        flex-shrink: 0;
        background-color: rgba(#5e4b41, 0.2);
        height: 1px;
        width: 3rem;
        flex-shrink: 0;
        margin-left: 3rem;
        margin-top: 1rem;
        flex-grow: 1;

        @include breakpoint(tablet) {
            margin-left: 1rem;
            margin-top: 0.7rem;
        }
    }
}

.projects__filters-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include breakpoint(mobile) {
        flex-direction: row;
        align-items: initial;
        gap: 3rem;
        flex-wrap: wrap;
    }
}

.projects__filters-categories-link {
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: flex-start;
    line-height: 123.02%;
    color: rgba(#5e4b41, 0.3);
    transition: color 0.2s;
    &:link,
    &:visited {
        color: rgba(#5e4b41, 0.3);
    }

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 123.02%;
    }

    &.active {
        color: #5e4b41;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #5e4b41;
    }
}

.projects__filters-categories-link-count {
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 0.5rem;

    @include breakpoint(tablet) {
        font-size: 0.8rem;
    }
}

.projects__heading {
    font-weight: normal;
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    grid-column: span 3;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(small-tablet) {
        grid-column: span 2;
        margin-top: -0.5rem;
    }

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 2.7rem;
        line-height: 100%;
    }
}

.projects__results {
    @include grid();

    @include breakpoint(mobile) {
        .projects--all & {
            display: contents;
        }
    }
}

.projects__about-company {
    grid-column: span 2;

    @include breakpoint(small-tablet) {
        grid-column: span 1;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
        margin-bottom: 5rem;
    }
}

.projects__about-company-text {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.2;
    max-width: 25rem;
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 123.02%;

        .projects--all & {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.7rem;
        }

       
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.projects__results-list {
    display: contents;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1.5rem;
        display: grid;
        grid-column: 1 / -1;

        .projects--all & { 
            order: 20;
        }
    }
}

.projects__results-list-item {
    grid-column: span 2;
    align-self: flex-end;

    &:nth-child(1) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    &:nth-child(2),
    &:nth-child(8n + 5) {
        grid-column: span 4;
        grid-row: span 2;

        .projects__results-card-image-container {
            &::before {
                padding-bottom: 65.25%;
            }
        }
    }

    &:nth-child(8n + 6) {
        grid-row: span 2;
    }
    &:nth-child(8n + 7) {
        grid-column: 3 / span 2;
    }



    &:nth-child(8n + 9) {
        grid-row: span 2;
    }
    &:nth-child(8n + 10) {
        grid-row: span 2;
        grid-column: span 4;

        .projects__results-card-image-container {
            &::before {
                padding-bottom: 65.25%;
            }
        }
    }

    @include breakpoint(small-tablet) {
        grid-column: span 1;
        &:nth-child(1) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &:nth-child(2),
        &:nth-child(8n + 5) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &:nth-child(8n + 6) {
            grid-row: span 2;
        }
        &:nth-child(8n + 7) {
            grid-column: 2 / span 1;
        }

        &:nth-child(8n + 9) {
            grid-row: span 2;
        }
        &:nth-child(8n + 10) {
            grid-row: span 2;
            grid-column: span 2;

        }
    }

    @include breakpoint(mobile) {
        grid-column: span 1 !important;
        grid-row: span 1 !important;

        .projects__results-card-image-container {
            &::before {
                padding-bottom: 61.53% !important;
            }
        }
    }
}

.projects__results-list-item--large {
}

.projects__results-card {
    display: flex;
    flex-direction: column;

    .no-touch &:hover {
        .projects__results-card-info {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }

        .projects__results-card-info-title {
            opacity: 1;
            transition: transform 0.3s ease 0.1s, opacity 0.3s ease 0.1s;
            transform: translateY(0);
        }
        .projects__results-card-info-table {
            opacity: 1;
            transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
            transform: translateY(0);
        }
    }
}

.projects__results-card-image-container {
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(tablet) {
        margin-bottom: 1rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 61.53%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(77, 61, 53, 0.2);
        z-index: 2;
    }
}

.projects__results-card-image-parallax-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 10rem);
    transform: translateZ(0);
}

.projects__results-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__results-card-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.projects__results-card-number {
    margin-right: 2.2rem;
}

.projects__more-projects-link {
}

.projects__results-show-all {
    grid-column: 3 /  -1;
    justify-self: flex-start;
    margin-top: 4rem;

    @include breakpoint(small-tablet) {
        grid-column: 2 / -1;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
    }
}

.projects__results-card-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#392e29, 0.9);
    color: #ffede3;
    padding: 3.2rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    @include breakpoint(tablet) {
        padding: 2rem;
    }
}

.projects__results-card-info-title {
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 4.1rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(2rem);

    @include breakpoint(tablet) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2.5rem;
    }
}

.projects__results-card-info-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 46rem;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(2rem);
    th,
    td {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
        border: 1px solid var(--light-brown);
        padding: 1rem;
        text-transform: uppercase;
    }

    td {
        font-weight: bold;
    }
}

.projects__results-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: top center;
    background-color: var(--dark-brown);
    z-index: 30;
    display: none;

    .js-remove-overlay & {
        display: block;
    }
}
