.project-intro {
    position: relative;
    z-index: 1;
    color: var(--light-brown);
}

.project-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.5), rgba(77, 61, 53, 0.5));
        mix-blend-mode: multiply;

        @include breakpoint(mobile) {
            background: linear-gradient(0deg, rgba(77, 61, 53, 0.7), rgba(77, 61, 53, 0.7));
        }
    }
}

.project-intro__bg-parallax-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
    transform: translateZ(0);
}

.project-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-intro__content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 2rem;


    @include breakpoint(mobile) {
        grid-template-rows: 1fr auto auto
    }
}

.project-intro__top-row {
    @include grid();

    align-items: flex-start;

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.project-intro__address {
    grid-column: 1 / 2;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: 1 / 2;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 6rem;
    }
}

.project-intro__main-heading-wrapper {
    grid-column: 3 / -1;
    margin-top: -1rem;
    margin-bottom: 3rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(tablet) {
        margin-top: -0.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: 2 / -1;
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        order: -4;
    }
}

.project-intro__main-heading {
    transform: translateY(100%);
    transition: transform 0.5s;
    .animatable & {
        transform: translateY(0%);
        transition: 0.4s ease-out;
        transition-delay: 0.4s;
    }
}

.project-intro__main-heading-number {
    font-size: 2.4rem;
    line-height: 1.2;
   
    font-weight: 500;
    margin-top: 0.4rem;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(tablet) {
        font-size: 1.8rem;
        margin-top: 0.2rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        margin-top: 0.2rem;
       
    }
}

.project-intro__sale,
.project-intro__rooms {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.project-intro__sale {
    grid-column: 4 / 5;

    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
        margin-bottom: 2rem;
    }
}

.project-intro__rooms {
    grid-column: 5 / 6;
    @include breakpoint(small-tablet) {
        grid-column: 3 / 4;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
    }
}

.project-intro__bottom-row {
    align-self: flex-end;
    margin-bottom: 4.5rem;

    @include grid();

    @include breakpoint(tablet) {
        margin-bottom: 3.5rem;
    }

    @include breakpoint(small-tablet) {
        margin-bottom: 2rem;
    }
}

.project-intro__scroll-down {
    grid-column: 3 / 4;

    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
    }
}

.project-intro__scroll-down-link {
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(tablet) {
        width: 2.5rem;
        height: 2.5rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--light-brown);
    }
}
