.project-location {
    padding-top: 3rem;
    padding-bottom: 10rem;

    @include breakpoint(tablet) {
        padding-top: 1.5rem;
        padding-bottom: 5rem;
    }
}

.project-location__top-row {
    @include grid();
    margin-bottom: 7rem;
}

.project-location__heading {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    grid-column: 1 / 3;
    @include breakpoint(tablet) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: 1 / 2;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.project-location__large-heading {
    grid-column: 3 / -1;

    @include breakpoint(small-tablet) {
        grid-column: 2 / -1;
    }
}

.project-location__proximity {
    @include grid();
    margin-bottom: 4rem;

    @include breakpoint(tablet) {
        margin-bottom: 3rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.project-location__proximity-image-container {
    grid-column: span 4;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);


    @include breakpoint(small-tablet) {
        grid-column: span 2;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(77, 61, 53, 0.2), rgba(77, 61, 53, 0.2));
        mix-blend-mode: multiply;
    }
}

.project-location__proximity-image-parallax-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

.project-location__proximity-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.project-location__proximity-illustration {
    align-self: center;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(small-tablet) {
        grid-column: span 1;
    }

    .project-location__proximity:nth-child(even) & {
        order: 3;
        align-items: flex-end;
    }
}

.project-location__proximity-time {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .project-location__proximity:nth-child(even) & {
        text-align: right;
        align-items: flex-end;
    }
}

.project-location__proximity-time-amount {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
        font-size: 2.4rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 2.2rem;
    }

    .project-location__proximity:nth-child(even) & {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 110%;
        margin-bottom: 0.5rem;

        @include breakpoint(tablet) {
            font-size: 1.8rem;
        }

       
    }
}

.project-location__proximity-time-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;

    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.project-location__proximity-illustration-scale {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 7rem;

    @include breakpoint(tablet) {
        margin-bottom: 3rem;
    }
    .project-location__proximity:nth-child(even) & {
        margin-bottom: 1.5rem;
    }
}

.project-location__proximity-illustration-scale-human,
.project-location__proximity-illustration-scale-point {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;

    @include breakpoint(tablet) {
        width: 3rem;
        height: 3rem;
    }


    @include breakpoint(small-tablet) {
        width: 2.4rem;
        height: 2.4rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--dark-brown);
    }
}

.project-location__proximity-illustration-scale-rule {
    --progress: 0;
    width: 30%;
    flex-grow: 1;
    border-bottom: 2px dashed var(--dark-brown);
    margin: 0 1rem;
    transform-origin: right center;
    clip-path: polygon(calc(100% * var(--progress, 0)) 0, 100% 0, 100% 100%, calc(100% * var(--progress, 0)) 100%);
}
