.simple-footer {
    &--white {
        color: var(--light-brown);
    }
}

.simple-footer__grid {
    @include grid();
    min-height: 45rem;
    padding: 2.2rem 0;

    @include breakpoint(tablet) {
        min-height: 15rem;
    }
}

.simple-footer__address {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    align-self: flex-end;
    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(small-tablet) {
        grid-column: 1 /2;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
        order: 9;
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}


.simple-footer__year {
    margin-right: 2.2rem;
    white-space: nowrap;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        margin: 0;
        grid-column: span 1;
    }
}

.simple-footer__address-text {
    @include breakpoint(mobile) {
        grid-column: span 2;
    }
}

.simple-footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    justify-self: flex-start;
    grid-column: 3 / 6;
    @include breakpoint(small-tablet) {
        grid-column: 2 / 3;
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        margin: 3rem 0;
        align-self: center;
    }
}

.simple-footer__contacts-mail-link {
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: inline-flex;
    text-transform: uppercase;
    margin-bottom: 1.4rem;

    @include underline();

    @include breakpoint(tablet) {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 1.5rem;
    }

    
}

.simple-footer__contacts-phone-link {
    font-weight: normal;
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
    @include breakpoint(tablet) {
        font-size: 3.2rem;
        line-height: 110%;
    }

    @include breakpoint(mobile) {
        font-size: 3.6rem;
        line-height: 110%;
    }
}

.simple-footer__made-by {
    grid-column: 6 / -1;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;

    @include breakpoint(small-tablet) {
        grid-column: 3 / -1;
    }

    @include breakpoint(mobile) {
        grid-column: 2 / -1;
        justify-self: flex-start;
        text-align: left;
        align-items: flex-start;
        order: 10;
    }

    
}

.simple-footer__made-by-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;

    @include breakpoint(tablet) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-transform: uppercase;
    }
}

.simple-footer__made-by-logo {
    width: 10rem;
    height: auto;
    display: block;

    @include breakpoint(tablet) {
        width: 8rem;
    }

    @include breakpoint(mobile) {
        width: 9rem;
        
    }
}